.weui-tabbar__icon {
    &.home {
        width:20px;
        height:20px;
    }
    &.map {
        width:15px;
        height:20px;
    }
    &.my {
        width:20px;
        height:20px;
    }
}
.warning-box {
    .weui-dialog__bd {
        text-align: left;
        font-size:16px;
        line-height:1.4;
    }
    .weui-dialog__btn_default {
        color:#FA9D3B;
    }
    .weui-dialog__btn_primary {
        color:#B2B2B2;
    }
}
