.weui-tabbar__icon {
    &.home {
        width:20px;
        height:20px;
    }
    &.map {
        width:15px;
        height:20px;
    }
    &.my {
        width:20px;
        height:20px;
    }
}
