<weui-infiniteloader (loadmore)="onLoadMore($event)" #comp>
    <div class="home-page" #scrollMe>
        <!-- <div class="full-with-page header-menu">
            <ul>
                <li *ngFor="let serviceType of serviceTypes; index as index">
                    <div class="header-menu-item" (click)="goModule(serviceType)" *ngIf="serviceType.service_type_status === '1' || serviceType.service_type_status === '2'">
                        <img [src]="'/assets/images/menu/' + serviceType.service_type_key + (serviceType.service_type_status === '2' ? '.grey.png' : '.png')"/>
                        <h3>{{serviceType.service_type_name}}</h3>
                    </div>
                </li>
            </ul>
        </div> -->

        <div class="weui-flex" *ngIf="seriesLists.length > 0">
            <!-- <div class="weui-flex__item">
                <div class="placeholder" (click)="showCarTypePop()">{{selectedCarType?.car_product_category_name || '类型'}}<img class="dropdown-icon" src="/assets/images/dropdown.png" /></div>
            </div> -->
            <!-- <div class="weui-flex__item">
                <div class="placeholder" (click)="showCarSeriesPop()">{{selectedCarSeries?.car_product_series_name || '系列'}}<img class="dropdown-icon" src="/assets/images/dropdown.png" /></div>
            </div> -->

            <!-- <div class="weui-flex__item"  >
                <div class="placeholder" class="active"  (click)="selectedSeries()" >全部</div>
            </div> -->
            <div class="weui-flex__item" *ngFor="let item of seriesLists" (click)="selectedSeries(item)">
                <div class="placeholder" *ngIf="seriesLists.length !== 1" [class.active]="item === currentSeries">{{item.car_product_series_name}}</div>
            </div>
        </div>
        <div class="product-list">
            <div class="item-list" *ngIf="isLoaded && products.length">
                <div class="weui-media-box weui-media-box_appmsg" *ngFor="let product of products; index as index;" [routerLink]="['/detail', product.product_id]">
                    <div class="weui-media-box__hd">
                        <img class="weui-media-box__thumb" [src]="product.product_image.thumb" alt="">
                    </div>
                    <div class="weui-media-box__bd">
                        <!--<h4 class="weui-media-box__title">{{product.product_name}}</h4>-->
                        <p class="weui-media-box__desc">{{product.product_name}}</p>
                        <div class="weui-media-box__footer">
                            {{product.product_summary}}
                        </div>
                    </div>
                    <!-- <div class="cart" (click)="toCart($event, product)" [hidden]="product.is_can_order==='0'"></div> -->
                </div>
            </div>
            <div class="empty-container" *ngIf="isLoaded && products.length===0">
                <div class="empty">
                    <img src="/assets/images/empty.png" />
                    <p>暂无商品</p>
                </div>
            </div>
        </div>

        <!--<div class="full-with-page item-list">
            <ul *ngIf="isLoaded && products.length">
                <li *ngFor="let product of products; index as index;">
                    <a [routerLink]="['/detail', product.product_id]">
                        <div class="aspect-ratio" data-ratio="1:1">
                            <img [src]="product.product_image.thumb"/>
                        </div>
                        <h4>{{product.product_name}}</h4>
                        <p>{{product.price_description}}</p>
                    </a>
                </li>
            </ul>
            <div class="empty-container" *ngIf="isLoaded && products.length===0">
                <div class="empty">
                    <img src="/assets/images/empty.png" />
                    <p>内容突然就没有了</p>
                </div>
            </div>
        </div>-->
        <div class="goTop" (click)="goTop();" [hidden]="(products.length && !show) || products.length===0"></div>
    </div>

    <!-- 成为E老板提示 -->
    <div [hidden]="shouldShowWarningBox" class="warning-box">
        <div class="weui-mask weui-animate-fade-in"></div>
        <div class="weui-dialog" style="opacity: 1;visibility: visible;">
            <div class="weui-dialog__hd"><strong class="weui-dialog__title">抱歉</strong></div>
            <div class="weui-dialog__bd">目前只有E老板才可以在线订购</div>
            <div class="weui-dialog__ft">
                <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary" (click)="iSeeTips()">我知道了</a>
                <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default" (click)="goToEBoss()">成为E老板</a>
            </div>
        </div>
    </div>

</weui-infiniteloader>
<app-intention-buy (click)="toCart()"></app-intention-buy>