<weui-infiniteloader (loadmore)="onLoadMore($event)" #comp>
    <div class="home-page" #scrollMe>
        <div class="full-with-page header-menu">
            <ul>
                <li *ngFor="let serviceType of serviceTypes; index as index">
                    <div class="header-menu-item" (click)="goModule(serviceType)" *ngIf="serviceType.service_type_status === '1' || serviceType.service_type_status === '2'">
                        <img [src]="'/assets/images/menu/' + serviceType.service_type_key + (serviceType.service_type_status === '2' ? '.grey.png' : '.png')"/>
                        <h3>{{serviceType.service_type_name}}</h3>
                    </div>
                </li>
                <!--<li>
                    <div class="header-menu-item" [routerLink]="['/certificate']">
                        <img src="/assets/images/menu/certificate.png"/>
                        <h3>营运证</h3>
                    </div>
                </li>
                <li>
                    <div class="header-menu-item" [routerLink]="['/review']">
                        <img src="/assets/images/menu/review.png"/>
                        <h3>审车</h3>
                    </div>
                </li>
                <li>
                    <div class="header-menu-item">
                        <img src="/assets/images/menu/insurance.grey.png"/>
                        <h3>保险</h3>
                    </div>
                </li>
                <li>
                    <div class="header-menu-item">
                        <img src="/assets/images/menu/violate.grey.png"/>
                        <h3>违章</h3>
                    </div>
                </li>-->
            </ul>
        </div>

        <div class="weui-flex">
            <div class="weui-flex__item">
                <div class="placeholder" (click)="showCarTypePop()">{{selectedCarType?.car_product_category_name || '类型'}}<img class="dropdown-icon" src="/assets/images/dropdown.png" /></div>
            </div>
            <div class="weui-flex__item">
                <div class="placeholder" (click)="showCarSeriesPop()">{{selectedCarSeries?.car_product_series_name || '系列'}}<img class="dropdown-icon" src="/assets/images/dropdown.png" /></div>
            </div>
        </div>
        <div class="product-list">
            <div class="item-list" *ngIf="isLoaded && products.length">
                <div class="weui-media-box weui-media-box_appmsg" *ngFor="let product of products; index as index;" [routerLink]="['/detail', product.product_id]">
                    <div class="weui-media-box__hd">
                        <img class="weui-media-box__thumb" [src]="product.product_image.thumb" alt="">
                    </div>
                    <div class="weui-media-box__bd">
                        <!--<h4 class="weui-media-box__title">{{product.product_name}}</h4>-->
                        <p class="weui-media-box__desc">{{product.product_name}}</p>
                        <div class="weui-media-box__footer">
                            {{product.price_description}}
                            <span class="cart" (click)="toCart($event, product)" [hidden]="product.is_can_order==='0'"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="empty-container" *ngIf="isLoaded && products.length===0">
                <div class="empty">
                    <img src="/assets/images/empty.png" />
                    <p>内容突然就没有了</p>
                </div>
            </div>
        </div>

        <!--<div class="full-with-page item-list">
            <ul *ngIf="isLoaded && products.length">
                <li *ngFor="let product of products; index as index;">
                    <a [routerLink]="['/detail', product.product_id]">
                        <div class="aspect-ratio" data-ratio="1:1">
                            <img [src]="product.product_image.thumb"/>
                        </div>
                        <h4>{{product.product_name}}</h4>
                        <p>{{product.price_description}}</p>
                    </a>
                </li>
            </ul>
            <div class="empty-container" *ngIf="isLoaded && products.length===0">
                <div class="empty">
                    <img src="/assets/images/empty.png" />
                    <p>内容突然就没有了</p>
                </div>
            </div>
        </div>-->
        <div class="goTop" (click)="goTop();" [hidden]="(products.length && !show) || products.length===0"></div>
    </div>
</weui-infiniteloader>
