@import "../../assets/styles/variables";

.full-with-page {
    width:100%;
    padding:0 12.5px;
}

.weui-infiniteloader {
    height: 100%!important;
}

.home-page {
    position: static;
    /*height:100%;
    padding-bottom: 15px;*/
    .weui-flex {
        // height: 48px;
        line-height: 46px;
        background: #FAFAFA;
        border-bottom: 1px solid #efeff4;
        margin-bottom: 14px;
        box-shadow: inset 0 -1px 0 0 #E5E5E5;
    }
    .weui-flex__item {
        text-align: center;
        font-size:14px;
        color:#2A2A2A;
        box-sizing: border-box;
        overflow: hidden;
        padding: 0 4px;
        // .dropdown-icon {
        //     width: 7px;
        //     height: 4px;
        //     position: relative;
        //     top: -3px;
        //     left: 3px;
        // }
        .active {
            border-bottom: 3px solid #1970A6;
    color: #1970A6;
        }
    }
}

.header-menu {
    background:$bgWhite;
    margin-top:15px;
    h3 {
        font-size:14px;
        color:#000;
        font-weight: normal;
    }
    height:105px;
    ul {
        height:90px;
    }
    ul {
        padding-top:15px;
        overflow:hidden;
    }
    li {
        width:20%;
        height:75px;
        float: left;
        text-align: center;
    }
    .header-menu-item {
        width:50px;
        margin:0 auto;
        img {
            width:50px;
            height:50px;
        }
    }
}

.item-list {
    background:#FFF;
    .weui-media-box {
        height: 126px;
        box-sizing: border-box;
        &:before {
            border-top: none;
        }
    }
    .weui-media-box {
        padding: 7px 15px;
    }
    .weui-media-box__hd {
        width:107.5px;
        height:107.5px;
        margin-right:12.5px;

        .weui-media-box__thumb {
            width:107.5px;
            height:107.5px;
        }
    }
    .weui-media-box__bd {
        height: 126px;
        padding:7px 0;
        border-bottom: 1px solid #EFEFF4;
        position: relative;
        .weui-media-box__desc {
            font-size:14px;
            color:#2A2A2A;
            line-height: 1.3;
            position: relative;
            top: 5px;
        }
        .weui-media-box__footer {
            position: relative;
            top: 10px;
            left:0;
            font-size:12px;
            color:#888;
            width:100%;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            line-clamp: 2;
            -webkit-line-clamp: 2;
        }
    }
    .cart {
        position: absolute;
        bottom: 10px;
        right: 20px;
        height:20px;
        width:20px;
        background: url("/assets/images/cart.png") 0 0 no-repeat;
        background-size: contain;
    }

    /*ul {
        overflow: hidden;
    }
    li {
        width:48.5714%;
        float: left;
        text-align: left;
        margin-right:2.8571%;
        margin-top:15px;
        &:nth-child(2n) {
            margin-right:0;
        }
        img {
            width:100%;
        }
        h4 {
            color:#000;
            line-height:20px;
            margin:5px 0 3px 0;
            font-weight:normal;
            font-size:14px;
        }
        p {
            color:#FA9D3B;
            line-height:20px;
            margin:0;
            font-size:14px;
        }
    }*/
}

.empty-container {
    // position: absolute;
    // top: 173px;
    // left: 0;
    // right: 0;
    // bottom: 65px;
    background: #FFF;
}

.empty {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -75px 0 0 -60px;
    width: 120px;
    height: 130px;
    font-size: 14px;
    p {
        text-align: center;
        color:#333333;
        margin-top:10px;
    }
    img {
        width:100px;
        height:100px;
        display: block;
        margin: 0 auto;
    }
}
.warning-box {
    .weui-dialog__bd {
        text-align: left;
        font-size:16px;
        line-height:1.4;
    }
    .weui-dialog__btn_default {
        color:#FA9D3B;
    }
    .weui-dialog__btn_primary {
        color:#B2B2B2;
    }
}


.goTop {
    position: fixed;
    bottom:40px;
    right:10px;
    height:40px;
    width:40px;
    background: url("/assets/images/icon/gotop.png") 0 0 no-repeat;
    background-size: contain;
}
app-intention-buy {
    position: fixed;
    bottom:80px;
    right:8px;
}
