<div class="page order-detail workSheet-detail workSheet-detail-rank ">
    <div class="scroll-page">
        <div class="order-bar">
            <span class="left">工单号：{{workSheetDetail?.work_sheet_no}}</span>
            <span class="right"> </span>
        </div>
        <div class="status-bar">
            <p>
                <span class="left">状态：{{workSheetDetail?.work_sheet_status_info?.work_sheet_status_name}}</span>
                <span class="right link-color"><a  [routerLink]="['/rescueDetail', workSheetDetail?.work_sheet_id]">查看工单详情</a></span>
            </p>
        </div>

        <div class="confirm-order" *ngIf="loaded">
            <div class="weui-cells rank-area">
                <div class="weui-cell special-cell">
                    <div class="weui-cell__bd">
                        <p>评价客服</p>
                    </div>
                    <div class="weui-cell__ft"><span>{{workSheetDetail?.user_info?.user_name}}</span></div>
                </div>
                <div class="weui-cell">
                    <weui-rating class="weui-rating" [(ngModel)]="submit_review_user_info.score" [config]="customIconsAndClassCog" [readonly]="work_sheet_status==='3002'"></weui-rating>
                    <textarea class="text-area" placeholder="请输入评价内容" [(ngModel)]="submit_review_user_info.review_description" [hidden]="work_sheet_status==='3002'"></textarea>
                    <div class="text-area-readonly" [hidden]="work_sheet_status!=='3002'"><p>{{workSheetDetail?.work_sheet_review_user_info?.review_description}}</p></div>
                </div>
            </div>
        </div>

        <div class="confirm-order" *ngIf="loaded && workSheetDetail?.site_info?.site_id">
            <div class="weui-cells rank-area">
                <div class="weui-cell special-cell">
                    <div class="weui-cell__bd">
                        <p>评价服务站</p>
                    </div>
                    <div class="weui-cell__ft rank-station-name"><span>{{workSheetDetail?.site_info?.site_name}}</span></div>
                </div>
                <div class="weui-cell">
                    <weui-rating class="weui-rating" [(ngModel)]="submit_review_site_info.score" [config]="customIconsAndClassCog" [readonly]="work_sheet_status==='3002'"></weui-rating>
                    <textarea class="text-area" placeholder="请输入评价内容" [(ngModel)]="submit_review_site_info.review_description" [hidden]="work_sheet_status==='3002'"></textarea>
                    <div class="text-area-readonly" [hidden]="work_sheet_status!=='3002'"><p>{{workSheetDetail?.work_sheet_review_site_info?.review_description}}</p></div>
                </div>
            </div>
        </div>

        <div class="status-bar default-color" *ngIf="loaded" [hidden]="work_sheet_status!=='3002'">
            <p>评价时间：{{workSheetDetail?.work_sheet_close_time}}</p>
        </div>

        <a href="javascript:;" class="weui-btn weui-btn_passive weui-btn_primary full-width-btn-with-padding" *ngIf="loaded" (click)="submitReview()" [hidden]="work_sheet_status==='3002'">提交</a>

    </div>

    <div class="error-bar" [hidden]="!errorMessage">
        <p>{{errorMessage}}</p>
    </div>

</div>
