<!--<div class="show-phone-list">
    <div class="weui-mask"></div>
    <div class="weui-dialog">
        <div class="weui-dialog__bd">
            <div class="weui-cells" *ngFor="let car of member_car_list">
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <p>{{car.plate_no}}</p>
                    </div>
                </div>
            </div>-->
            <!--<div class="weui-cells no-border">
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <p><a href="{{'tel:' + currentMarker?.mobile}}">{{currentMarker?.mobile}}</a></p>
                    </div>
                </div>
            </div>-->
        <!--</div>
        <div class="weui-dialog__ft">
            <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary" (click)="hiddenPhoneList()">确定</a>
        </div>
    </div>
</div>-->
<div class="rescue">

    <div class="rescue-dialog" [hidden]="!shouldReservationBox || !isNotDone || error_desc">
        <div class="weui-mask weui-mask__in"></div>
        <div class="weui-dialog weui-dialog__in">
            <div class="weui-dialog__hd">
                <strong class="weui-dialog__title">请选择需要救援的车辆</strong>
            </div>
            <div class="weui-dialog__bd" *ngIf="member_car_list.length">
                <div class="weui-cells weui-cells_checkbox" *ngFor="let car of member_car_list; index as index" [ngClass]="member_car_list.length===1?'has-border':''" [hidden]="!car.car_id">
                    <label class="weui-cell weui-check__label" for="car-{{car.car_id}}" [ngClass]="!car.car_id?'no-border':''">
                        <div class="weui-cell__hd">
                            <input type="radio" class="weui-check" [(ngModel)]="result.selected" [value]="car" name="car" id="car-{{car.car_id}}" />
                            <i class="weui-icon-checked"></i>
                        </div>
                        <div class="weui-cell__bd">
                            <span>{{car.province_code_info?.province_code_name}}{{car.plate_no | uppercase}}</span>
                        </div>
                    </label>
                </div>
            </div>
            <div class="weui-cells" *ngIf="!loaded">
                <span>加载中...</span>
            </div>
            <div class="weui-dialog__ft">
                <a href="#" class="weui-dialog__btn weui-dialog__btn_default" (click)="cancel($event)">取消</a>
                <a href="#" class="weui-dialog__btn weui-dialog__btn_primary" (click)="save($event)">确定</a>
            </div>
        </div>
    </div>

    <div [hidden]="shouldReservationBox">
        <div class="weui-mask weui-animate-fade-in"></div>
        <div class="weui-dialog" style="opacity: 1;visibility: visible;">
            <div class="weui-dialog__hd"><strong class="weui-dialog__title">填写信息</strong></div>
            <div class="weui-dialog__bd">请先补全个人和车辆信息！</div>
            <div class="weui-dialog__ft">
                <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary" (click)="goToUser()">补充信息</a>
            </div>
        </div>
    </div>

    <div class="error-bar" [hidden]="!errorMessage">
        <p>{{errorMessage}}</p>
    </div>

    <!--<div id="toast" [hidden]="isNotDone">
        <div class="weui-mask_transparent"></div>
        <div class="weui-toast">
            <i class="weui-icon-success-no-circle weui-icon_toast"></i>
            <p class="weui-toast__content">成功</p>
        </div>
    </div>-->

    <div class="showResult" [hidden]="isNotDone">
        <p class="title">救援信息提交成功！</p>
        <p>　　请保持手机畅通，我们会尽快与您取得联系！</p>
        <p>　　车物宝安全提示：请在车辆后方（高速公路100米以外，非高速公路50米以外）安放安全警示标志，同时注意自身及车辆、财产安全！</p>
        <p>　</p>
        <a href="javascript:;" class="weui-btn weui-btn_passive weui-btn_primary full-width-btn-with-padding" *ngIf="loaded" (click)="cancel($event)">我知道了</a>
    </div>

    <div class="showResult error-result" [hidden]="!error_desc">
        <p class="title">{{error_desc}}</p>
        <p>欢迎拨打总部救援电话：<a href="tel:4008876108">400-887-6108</a></p>
        <p>　</p>
        <p>　</p>
        <a href="javascript:;" class="weui-btn weui-btn_passive weui-btn_primary full-width-btn-with-padding" *ngIf="loaded" (click)="cancel($event)">我知道了</a>
    </div>

</div>
