<div class="page order-detail workSheet-detail ">
    <div class="scroll-page">
        <div class="order-bar">
            <span class="left">订单号：{{workSheetDetail?.work_sheet_no}}</span>
            <span class="right">下单时间：{{workSheetDetail?.work_sheet_create_time}}</span>
        </div>
        <div class="status-bar">
            <p>状态：{{workSheetDetail?.work_sheet_status_info.work_sheet_status_name}}</p>
        </div>
        <div class="confirm-order">
            <div class="weui-cells ">
                <div class="weui-cell special-cell">
                    <div class="weui-cell__bd">
                        <p>报修信息</p>
                    </div>
                    <div class="weui-cell__ft"><span> </span></div>
                </div>
                <div class="weui-cell weui-cell-small">
                    <div class="weui-cell__bd">
                        <p>报修人姓名</p>
                    </div>
                    <div class="weui-cell__ft">{{workSheetDetail?.work_sheet_member_info.real_name}}</div>
                </div>
                <div class="weui-cell no-border weui-cell-small">
                    <div class="weui-cell__bd">
                        <p>报修人电话</p>
                    </div>
                    <div class="weui-cell__ft">{{workSheetDetail?.work_sheet_member_info.mobile}}</div>
                </div>
                <div class="weui-cell no-border weui-cell-small">
                    <div class="weui-cell__bd">
                        <p>车牌号码</p>
                    </div>
                    <div class="weui-cell__ft">{{workSheetDetail?.work_sheet_member_info.car_no}}</div>
                </div>
                <div class="weui-cell no-border weui-cell-small">
                    <div class="weui-cell__bd">
                        <p>故障地址</p>
                    </div>
                    <div class="weui-cell__ft site_address">{{workSheetDetail?.work_sheet_member_info.work_sheet_address}}</div>
                </div>

            </div>
        </div>

        <div class="status-bar default-color" [hidden]="work_sheet_status==='2002'">
            <p>开始处理：{{workSheetDetail?.work_sheet_apply_time}}</p>
        </div>

        <div class="confirm-order" *ngIf="loaded && workSheetDetail?.site_info" [hidden]="work_sheet_status==='1001' || work_sheet_status==='1002' || work_sheet_status==='2001' || work_sheet_status==='2002' || work_sheet_status==='4001'">
            <div class="weui-cells ">
                <div class="weui-cell special-cell">
                    <div class="weui-cell__bd">
                        <p>服务站信息</p>
                    </div>
                    <div class="weui-cell__ft"><span> </span></div>
                </div>
                <div class="weui-cell weui-cell-small">
                    <div class="weui-cell__bd">
                        <p>服务站名称</p>
                    </div>
                    <div class="weui-cell__ft">{{workSheetDetail?.site_info.site_name}}</div>
                </div>
                <div class="weui-cell no-border weui-cell-small">
                    <div class="weui-cell__bd">
                        <p>联系电话</p>
                    </div>
                    <div class="weui-cell__ft">{{workSheetDetail?.site_info.telephone}}</div>
                </div>
                <div class="weui-cell no-border weui-cell-small">
                    <div class="weui-cell__bd">
                        <p>地址</p>
                    </div>
                    <div class="weui-cell__ft site_address">{{workSheetDetail?.site_info.site_address}}</div>
                </div>
            </div>
        </div>

        <div class="confirm-order select-station" *ngIf="loaded && ignore" [hidden]="work_sheet_status!=='2002'">
            <div class="weui-cells ">
                <div class="weui-cell special-cell">
                    <div class="weui-cell__bd">
                        <p>服务站信息</p>
                    </div>
                    <div class="weui-cell__ft"><span></span></div>
                </div>
                <div class="weui-cell weui-cell-small weui-cell_access">
                    <div class="weui-cell__bd">
                        <p>请选择服务站</p>
                    </div>
                    <div class="weui-cell__ft station-name" [ngClass]="{'error':(!result.station.valid && result.station.isTouched)}" (click)="showStation()">
                        <span class="for-station">{{result.station.site_name || '请选择服务站'}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="confirm-order rank-info" *ngIf="loaded" [hidden]="work_sheet_status==='3001' || work_sheet_status==='1001' || work_sheet_status==='1002' || work_sheet_status==='2001' || work_sheet_status==='2002'|| work_sheet_status==='2003' || work_sheet_status==='4001'">
            <div class="weui-cells ">
                <div class="weui-cell special-cell">
                    <div class="weui-cell__bd">
                        <p>评价信息</p>
                    </div>
                    <div class="weui-cell__ft"><a [routerLink]="['/rescueRank', workSheetDetail?.work_sheet_id]">查看详情</a></div>
                </div>
            </div>
        </div>

        <div class="status-bar default-color" *ngIf="loaded" [hidden]="work_sheet_status!=='3001' && work_sheet_status!=='3002'">
            <p>完成时间：{{workSheetDetail?.work_sheet_finish_time}}</p>
        </div>

        <div class="btn-group-large" *ngIf="loaded">
            <a href="javascript:;" class="weui-btn weui-btn_primary full-width-btn with-no-radius" *ngIf="loaded" (click)="rankIt()" [hidden]="work_sheet_status!=='3001'">评价</a>
            <a href="javascript:;" class="weui-btn weui-btn_primary full-width-btn with-no-radius" *ngIf="loaded && assigned && ignore" (click)="assignIt()" [hidden]="work_sheet_status!=='2002'">确定</a>
        </div>

    </div>

    <div class="error-bar" [hidden]="!errorMessage">
        <p>{{errorMessage}}</p>
    </div>

</div>
