.workSheet-detail {
    padding-bottom:50px;
    .default-color {
        color:#888888;
    }
    .special-cell {
        height: 54px;
        line-height: 54px;
        font-size:24px;
        color:#000000;
        .weui-cell__ft a {
            font-size:14px;
            color:#1970A6;
            text-decoration: underline;
        }
    }
    .weui-cell-small {
        color:#888888;
    }
    .rank-info, .select-station {
        margin: 10px 0;
    }
    .site_address {
        width: 80%;
        line-height: normal;
    }
}
