<weui-infiniteloader (loadmore)="onLoadMore($event)" #comp>
    <div class="home-page" #scrollMe>
        <div class="full-with-page header-menu">
            <ul>
                <li>
                    <div class="header-menu-item" [routerLink]="['/license']">
                        <img src="/assets/images/menu/license.png"/>
                        <h3>驾照</h3>
                    </div>
                </li>
                <li>
                    <div class="header-menu-item" [routerLink]="['/certificate']">
                        <img src="/assets/images/menu/certificate.png"/>
                        <h3>营运证</h3>
                    </div>
                </li>
                <li>
                    <div class="header-menu-item" [routerLink]="['/review']">
                        <img src="/assets/images/menu/review.png"/>
                        <h3>审车</h3>
                    </div>
                </li>
                <li>
                    <div class="header-menu-item">
                        <img src="/assets/images/menu/insurance.grey.png"/>
                        <h3>保险</h3>
                    </div>
                </li>
                <li>
                    <div class="header-menu-item">
                        <img src="/assets/images/menu/violate.grey.png"/>
                        <h3>违章</h3>
                    </div>
                </li>
            </ul>
        </div>


        <div class="full-with-page item-list">
            <ul *ngIf="isLoaded && products.length">
                <li *ngFor="let product of products; index as index;">
                    <a [routerLink]="['/detail', product.id]">
                        <div class="aspect-ratio" data-ratio="1:1">
                            <img [src]="product.cover"/>
                        </div>
                        <h4>{{product.title + '-' + index}}</h4>
                        <p>{{product.price}}</p>
                    </a>
                </li>
            </ul>
            <div class="empty-container" *ngIf="isLoaded && products.length===0">
                <div class="empty">
                    <img src="/assets/images/empty.png" />
                    <p>内容突然就没有了</p>
                </div>
            </div>
        </div>
        <div class="goTop" (click)="goTop();"></div>
    </div>
</weui-infiniteloader>
