<div class="user-page">
    <div class="user-header">
        <div class="user-bg">
            <img class="avatar" [src]="member.member_info?.icon_image?.thumb || '/assets/images/user/avatar.default.png'"/>
            <span class="username">{{member.member_info?.real_name || member.member_info?.member_name}}</span>
            <a class="notification" [routerLink]="['/notify']">
                <img class="belle" src="/assets/images/icon/belle.png" />
                <span class="weui-badge" *ngIf="member?.message_dashboard_info?.new_message_count!=='0'">{{member.message_dashboard_info.new_message_count}}</span>
            </a>
        </div>
        <div class="information">
            <a class="personal" [routerLink]="['/userInfo']">个人信息</a><a class="car" [routerLink]="['/carInfo']">车辆信息</a>
        </div>
    </div>

    <div class="order">
        <div class="weui-cells__title">订单信息</div>
        <div class="weui-cells">
            <a class="weui-cell weui-cell_access" href="javascript:;" [routerLink]="['/orders', 0]">
                <div class="weui-cell__bd">
                    <p>全部订单</p>
                </div>
                <div class="weui-cell__ft">
                    <span class="weui-badge" *ngIf="member.service_order_dashboard_info.order_total_count!=='0'">{{member.service_order_dashboard_info.order_total_count}}</span>
                </div>
            </a>
            <a class="weui-cell weui-cell_access" href="javascript:;" [routerLink]="['/orders', 1]">
                <div class="weui-cell__bd">
                    <p>待付款</p>
                </div>
                <div class="weui-cell__ft">
                    <span class="weui-badge" *ngIf="member.service_order_dashboard_info.order_obligation_count!=='0'">{{member.service_order_dashboard_info.order_obligation_count}}</span>
                </div>
            </a>
            <a class="weui-cell weui-cell_access" href="javascript:;" [routerLink]="['/orders', 2]">
                <div class="weui-cell__bd">
                    <p>待处理</p>
                </div>
                <div class="weui-cell__ft">
                    <span class="weui-badge" *ngIf="member.service_order_dashboard_info.order_pending_count!=='0'">{{member.service_order_dashboard_info.order_pending_count}}</span>
                </div>
            </a><a class="weui-cell weui-cell_access" href="javascript:;" [routerLink]="['/orders', 3]">
                <div class="weui-cell__bd">
                    <p>处理中</p>
                </div>
                <div class="weui-cell__ft">
                    <span class="weui-badge" *ngIf="member.service_order_dashboard_info.order_process_count!=='0'">{{member.service_order_dashboard_info.order_process_count}}</span>
                </div>
            </a><a class="weui-cell weui-cell_access" href="javascript:;" [routerLink]="['/orders', 4]">
                <div class="weui-cell__bd">
                    <p>已完成</p>
                </div>
                <div class="weui-cell__ft">
                    <span class="weui-badge" *ngIf="member.service_order_dashboard_info.order_finish_count!=='0'">{{member.service_order_dashboard_info.order_finish_count}}</span>
                </div>
            </a>
        </div>
    </div>

    <div class="about">
        <div class="weui-cells__title">关于我们</div>
        <div class="weui-cells">
            <a class="weui-cell weui-cell_access" href="javascript:;" [routerLink]="['/contact']">
                <div class="weui-cell__bd">
                    <p>联系我们</p>
                </div>
                <div class="weui-cell__ft"></div>
            </a>
            <a class="weui-cell weui-cell_access" href="javascript:;" [routerLink]="['/about']">
                <div class="weui-cell__bd">
                    <p>关于我们</p>
                </div>
                <div class="weui-cell__ft"></div>
            </a>
        </div>
    </div>
</div>
