@import "../../assets/styles/variables";

.user-header {
    background:$bgWhite;
    /*margin-top:15px;*/
    width:100%;
    height:235px;
    position: relative;
}
.user-bg {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:185px;
    background:url("/assets/images/user/user.bg.jpg") 0 0 no-repeat;
    background-size: cover;
    .avatar {
        position: absolute;
        top:30px;
        left:50%;
        margin-left:-52.5px;
        width:105px;
        height:105px;
        border: 2px solid #FFF;
        border-radius:50%;
    }
    .username {
        position: absolute;
        top:150px;
        left:0;
        width:100%;
        text-align: center;
        height:22px;
        line-height:22px;
        color: #FFF;
    }
    .notification {
        position: absolute;
        top:25px;
        right:25px;
        .belle {
            height:20px;
            width:20px;
        }
        .weui-badge {
            position: absolute;
            top: -18px;
            right: -18px;
        }
    }
}
.information {
    position: relative;
    top:186px;
    height:50px;
    line-height:50px;
    a {
        color:#1970A6;
        font-size:14px;
        display: inline-block;
        width:50%;
        text-align: center;
        position: relative;
    }
    .personal:after {
        content: '';
        position: absolute;
        top:10px;
        right:0;
        background: #FA9D3B;
        width:2px;
        height:30px;
    }
}



.user-page {
    margin-bottom:20px;
    .weui-cells__title-empty {
        height:15px;
    }
    .i-want-be-seller {
        margin:15px 15px 0 15px;
        &.full-width-btn-with-padding {
            height:47px;
            line-height:47px;
        }
    }
    .order {
        background:#FFF;
        margin-bottom:15px;
        .weui-flex {
            padding:0 15px;
            .weui-flex__item {
                text-align: center;
                position: relative;
                span {
                    font-size:12px;
                    color:#000000;
                    position: relative;
                    top: -8px;
                }
                .weui-badge {
                    position: absolute;
                    top: -10px;
                    right: -13px;
                    color: #FFF;
                }
            }
        }
        .order-title {
            font-size:14px;
            color:#000000;
        }
        .order-footer {
            font-size:12px;
            color:#888888;
        }

        .order-status {
            margin: 13px auto 10px auto;
            width:27px;
            height:24px;
            background-size:contain;
            background-repeat:no-repeat ;
            background-position:center center;
            position: relative;

        }
        .need-process {
            background-image:url("../../assets/images/need.process.png");
        }
        .processing {
            background-image:url("../../assets/images/processing.png");
        }
        .complete {
            background-image:url("../../assets/images/complete.png");
        }
        .cancelled {
            background-image:url("../../assets/images/complete.png");
        }
        .need-pay {
            background-image:url("../../assets/images/need.pay.png");
        }
    }
}
