<div class="user-page">
    <div class="user-header">
        <div class="user-bg">
            <img class="avatar" [src]="member.member_info?.icon_image?.thumb || '/assets/images/user/avatar.default.jpg'"/>
            <span class="username">{{member.member_info?.member_name}}</span>
            <!--<a class="notification" [routerLink]="['/notify', 0, 1]">
                <img class="belle" src="/assets/images/icon/belle.png" />
                <span class="weui-badge" *ngIf="member?.message_dashboard_info?.new_message_count!=='0'">{{member?.message_dashboard_info?.new_message_count}}</span>
            </a>-->
        </div>
        <div class="information">
            <a class="personal" [routerLink]="['/userInfo']">个人信息</a><a class="car" (click)="goNext()">车辆信息</a>
        </div>
    </div>

    <a href="javascript:;" [routerLink]="['/userSeller']" class="weui-btn weui-btn_primary full-width-btn-with-padding i-want-be-seller" [hidden]="member.is_has_sales_button !== '1'">我要售车</a>

    <div class="weui-cells__title-empty"></div>
    <div class="order">
        <div class="weui-cells">
            <div class="weui-cell weui-cell_access">
                <div class="weui-cell__bd order-title">
                    <p>我的购车订单</p>
                </div>
                <div class="weui-cell__ft order-footer" [routerLink]="['/productOrder', 0, 1]">查看更多订单</div>
            </div>
        </div>
        <div class="weui-flex">
            <div class="weui-flex__item" [routerLink]="['/productOrder', 1, 1]">
                <div class="order-status need-process">
                    <span class="weui-badge"  *ngIf="hasNotify('order_pending_count', 'car_product_order_dashboard_info')">{{member.car_product_order_dashboard_info.order_pending_count}}</span>
                </div>
                <span>待处理</span>
            </div>
            <div class="weui-flex__item" [routerLink]="['/productOrder', 2, 1]">
                <div class="order-status processing">
                    <span class="weui-badge"  *ngIf="hasNotify('order_process_count', 'car_product_order_dashboard_info')">{{member.car_product_order_dashboard_info.order_process_count}}</span>
                </div>
                <span>处理中</span>
            </div>
            <div class="weui-flex__item" [routerLink]="['/productOrder', 3, 1]">
                <div class="order-status complete">
                    <span class="weui-badge"  *ngIf="hasNotify('order_finish_count', 'car_product_order_dashboard_info')">{{member.car_product_order_dashboard_info.order_finish_count}}</span>
                </div>
                <span>已完成</span>
            </div>
            <div class="weui-flex__item" [routerLink]="['/productOrder', 4, 1]">
                <div class="order-status cancelled">
                    <span class="weui-badge"  *ngIf="hasNotify('order_cancel_count', 'car_product_order_dashboard_info')">{{member.car_product_order_dashboard_info.order_cancel_count}}</span>
                </div>
                <span>已取消</span>
            </div>
        </div>
    </div>

    <div class="order">
        <div class="weui-cells">
            <div class="weui-cell weui-cell_access">
                <div class="weui-cell__bd order-title">
                    <p>我的服务订单</p>
                </div>
                <div class="weui-cell__ft order-footer" [routerLink]="['/serviceOrder', 0, 1]">查看更多订单</div>
            </div>
        </div>
        <div class="weui-flex">
            <div class="weui-flex__item" [routerLink]="['/serviceOrder', 1, 1]">
                <div class="order-status need-pay">
                    <span class="weui-badge" *ngIf="hasNotify('order_obligation_count')">{{member.service_order_dashboard_info.order_obligation_count}}</span>
                </div>
                <span>待付款</span>
            </div>
            <div class="weui-flex__item" [routerLink]="['/serviceOrder', 2, 1]">
                <div class="order-status need-process">
                    <span class="weui-badge" *ngIf="hasNotify('order_pending_count')">{{member.service_order_dashboard_info.order_pending_count}}</span>
                </div>
                <span>待处理</span>
            </div>
            <div class="weui-flex__item" [routerLink]="['/serviceOrder', 3, 1]">
                <div class="order-status processing">
                    <span class="weui-badge" *ngIf="hasNotify('order_process_count')">{{member.service_order_dashboard_info.order_process_count}}</span>
                </div>
                <span>处理中</span>
            </div>
            <div class="weui-flex__item" [routerLink]="['/serviceOrder', 4, 1]">
                <div class="order-status complete"> </div>
                <span>已完成</span>
            </div>
        </div>
    </div>

    <div class="order" *ngIf="isRole('2')">
        <div class="weui-cells">
            <div class="weui-cell weui-cell_access">
                <div class="weui-cell__bd order-title">
                    <p>我的售车订单</p>
                </div>
                <div class="weui-cell__ft order-footer" (click)="goToCarOrderList(0, 1, {role: '2'})">查看更多订单</div>
            </div>
        </div>
        <div class="weui-flex">
            <div class="weui-flex__item" (click)="goToCarOrderList(2, 1, {role: '2'})">
                <div class="order-status processing">
                    <span class="weui-badge" *ngIf="hasBadge(dataItems.role2.order_process_count)">{{dataItems.role2.order_process_count}}</span>
                </div>
                <span>处理中</span>
            </div>
            <div class="weui-flex__item" (click)="goToCarOrderList(3, 1, {role: '2'})">
                <div class="order-status complete">
                    <span class="weui-badge" *ngIf="hasBadge(dataItems.role2.order_finish_count)">{{dataItems.role2.order_finish_count}}</span>
                </div>
                <span>已完成</span>
            </div>
            <div class="weui-flex__item" (click)="goToCarOrderList(4, 1, {role: '2'})">
                <div class="order-status cancelled">
                    <span class="weui-badge" *ngIf="hasBadge(dataItems.role2.order_cancel_count)">{{dataItems.role2.order_cancel_count}}</span>
                </div>
                <span>已取消</span>
            </div>
        </div>
    </div>

    <div class="about" *ngIf="isRole('2')">
        <div class="weui-cells">
            <a class="weui-cell weui-cell_access" href="javascript:;" [routerLink]="['/achievement']">
                <div class="weui-cell__bd">
                    <p>销售业绩</p>
                </div>
                <div class="weui-cell__ft"></div>
            </a>
        </div>
    </div>

    <div class="weui-cells__title-empty" *ngIf="isRole('2')"></div>

    <div class="order" *ngIf="isRole('3')">
        <div class="weui-cells">
            <div class="weui-cell weui-cell_access">
                <div class="weui-cell__bd order-title">
                    <p>我的办事处订单</p>
                </div>
                <div class="weui-cell__ft order-footer" (click)="goToCarOrderList(0, 1, {role: '3'})">查看更多订单</div>
            </div>
        </div>
        <div class="weui-flex">
            <div class="weui-flex__item" (click)="goToCarOrderList(1, 1, {role: '3'})">
                <div class="order-status need-process">
                    <span class="weui-badge" *ngIf="hasBadge(dataItems.role3.order_pending_count)">{{dataItems.role3.order_pending_count}}</span>
                </div>
                <span>待处理</span>
            </div>
            <div class="weui-flex__item" (click)="goToCarOrderList(2, 1, {role: '3'})">
                <div class="order-status processing">
                    <span class="weui-badge" *ngIf="hasBadge(dataItems.role3.order_process_count)">{{dataItems.role3.order_process_count}}</span>
                </div>
                <span>处理中</span>
            </div>
            <div class="weui-flex__item" (click)="goToCarOrderList(3, 1, {role: '3'})">
                <div class="order-status complete">
                    <span class="weui-badge" *ngIf="hasBadge(dataItems.role3.order_finish_count)">{{dataItems.role3.order_finish_count}}</span>
                </div>
                <span>已完成</span>
            </div>
            <div class="weui-flex__item" (click)="goToCarOrderList(4, 1, {role: '3'})">
                <div class="order-status cancelled">
                    <span class="weui-badge" *ngIf="hasBadge(dataItems.role3.order_cancel_count)">{{dataItems.role3.order_cancel_count}}</span>
                </div>
                <span>已取消</span>
            </div>
        </div>
    </div>

    <div class="order" *ngIf="isRole('4')">
        <div class="weui-cells">
            <div class="weui-cell weui-cell_access">
                <div class="weui-cell__bd order-title">
                    <p>我的经销商订单</p>
                </div>
                <div class="weui-cell__ft order-footer" (click)="goToCarOrderList(0, 1, {role: '4'})">查看更多订单</div>
            </div>
        </div>
        <div class="weui-flex">
            <div class="weui-flex__item" (click)="goToCarOrderList(1, 1, {role: '4'})">
                <div class="order-status need-process">
                    <span class="weui-badge" *ngIf="hasBadge(dataItems.role4.order_pending_count)">{{dataItems.role4.order_pending_count}}</span>
                </div>
                <span>待处理</span>
            </div>
            <div class="weui-flex__item" (click)="goToCarOrderList(2, 1, {role: '4'})">
                <div class="order-status processing">
                    <span class="weui-badge" *ngIf="hasBadge(dataItems.role4.order_process_count)">{{dataItems.role4.order_process_count}}</span>
                </div>
                <span>处理中</span>
            </div>
            <div class="weui-flex__item" (click)="goToCarOrderList(3, 1, {role: '4'})">
                <div class="order-status complete">
                    <span class="weui-badge" *ngIf="hasBadge(dataItems.role4.order_finish_count)">{{dataItems.role4.order_finish_count}}</span>
                </div>
                <span>已完成</span>
            </div>
            <div class="weui-flex__item" (click)="goToCarOrderList(4, 1, {role: '4'})">
                <div class="order-status cancelled">
                    <span class="weui-badge" *ngIf="hasBadge(dataItems.role4.order_cancel_count)">{{dataItems.role4.order_cancel_count}}</span>
                </div>
                <span>已取消</span>
            </div>
        </div>
    </div>

    <div class="about">
        <div class="weui-cells">
            <a class="weui-cell weui-cell_access" href="javascript:;" [routerLink]="['/about']">
                <div class="weui-cell__bd">
                    <p>关于我们</p>
                </div>
                <div class="weui-cell__ft"></div>
            </a>
        </div>
    </div>
</div>
