<div class="page">
    <div class="scroll-page">
        <!--<span (click)="changeMode('license');">驾照</span> | <span (click)="changeMode('car');">车辆</span> | <span (click)="changeMode('cert');">营运</span>-->
        <div class="confirm-order" *ngIf="order?.service_order_product_info?.service_type_info?.service_type_key === 'service_driving_license'">
            <div class="weui-cells ">
                <div class="weui-cell special-cell">
                    <div class="weui-cell__bd">
                        <p>服务类型</p>
                    </div>
                    <div class="weui-cell__ft"><span>{{getServiceProductSpecTypeInfoByKey('service_type').service_order_product_extend_value}}</span></div>
                </div>
                <div class="weui-cell weui-cell-small">
                    <div class="weui-cell__bd">
                        <p>驾照归属地</p>
                    </div>
                    <div class="weui-cell__ft">{{getServiceProductSpecTypeInfoByKey('region').service_order_product_extend_value}}</div>
                </div>
                <div class="weui-cell no-border weui-cell-small">
                    <div class="weui-cell__bd">
                        <p>驾照类型</p>
                    </div>
                    <div class="weui-cell__ft">{{getServiceProductSpecTypeInfoByKey('driving_license_type').service_order_product_extend_value}}</div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <p>上传图片</p>
                    </div>
                </div>
                <div class="images-container">
                    <table class="table-container">
                        <tr>
                            <td>
                                <div class="image aspect-ratio" data-ratio="1:1" (click)="showImage(order?.service_order_product_info.service_order_product_image_list[0]?.source)" [style.background-image]="'url(' + order?.service_order_product_info.service_order_product_image_list[0].source + ')'"></div>
                                <span>驾照正副本</span>
                            </td>
                            <td>
                                <div class="image aspect-ratio" data-ratio="1:1" (click)="showImage(order?.service_order_product_info.service_order_product_image_list[1]?.source)" [style.background-image]="'url(' + order?.service_order_product_info.service_order_product_image_list[1]?.source + ')'"></div>
                                <span>人靠白墙半身照</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="image uploaded img-license aspect-ratio" (click)="showImage(order?.service_order_product_info.service_order_product_image_list[2]?.source)" data-ratio="1:1" [style.background-image]="'url(' + order?.service_order_product_info.service_order_product_image_list[2]?.source + ')'"></div>
                                <span>身份证正面</span>
                            </td>
                            <td>
                                <div class="image aspect-ratio" data-ratio="1:1" (click)="showImage(order?.service_order_product_info.service_order_product_image_list[3]?.source)" [style.background-image]="'url(' + order?.service_order_product_info.service_order_product_image_list[3]?.source + ')'"></div>
                                <span>身份证反面</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <p>应支付</p>
                    </div>
                    <div class="weui-cell__ft"><span class="text-warning">￥{{order?.total}}</span></div>
                </div>
                <div class="weui-cell weui-cell-special">
                    <div class="weui-cell__bd">
                        <p>支付方式</p>
                    </div>
                    <div class="weui-cell__ft">
                        <img src="/assets/images/icon/wxpay.png" width="133px" height="25px" />
                        <p>（暂不支持其他支付方式）</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="confirm-order" *ngIf="order?.service_order_product_info?.service_type_info?.service_type_key === 'service_operation_certificate'">
            <div class="weui-cells ">
                <div class="weui-cell special-cell">
                    <div class="weui-cell__bd">
                        <p>服务类型</p>
                    </div>
                    <div class="weui-cell__ft"><span>{{getServiceProductSpecTypeInfoByKey('service_type').service_order_product_extend_value}}</span></div>
                </div>
                <div class="weui-cell weui-cell-small">
                    <div class="weui-cell__bd">
                        <p>车辆性质</p>
                    </div>
                    <div class="weui-cell__ft">{{getServiceProductSpecTypeInfoByKey('car_property').service_order_product_extend_value}}</div>
                </div>
                <div class="weui-cell no-border weui-cell-small">
                    <div class="weui-cell__bd">
                        <p>车辆类型 </p>
                    </div>
                    <div class="weui-cell__ft">{{getServiceProductSpecTypeInfoByKey('car_type').service_order_product_extend_value}}</div>
                </div>
                <div class="weui-cell no-border weui-cell-small">
                    <div class="weui-cell__bd">
                        <p>车牌号码</p>
                    </div>
                    <div class="weui-cell__ft">{{getServiceProductSpecTypeInfoByKey('car_plate_no').service_order_product_extend_value | uppercase | plateFormat}}</div>
                </div>
                <div class="weui-cell weui-cell-small">
                    <div class="weui-cell__bd">
                        <p>预约时间</p>
                    </div>
                    <div class="weui-cell__ft">{{getServiceProductSpecTypeInfoByKey('service_date').service_order_product_extend_value}}</div>
                </div>
                <div class="weui-cell no-border weui-cell-small">
                    <div class="weui-cell__bd">
                        <p>检测地点</p>
                    </div>
                    <div class="weui-cell__ft">
                        {{getServiceProductSpecTypeInfoByKey('region').service_order_product_extend_value}}
                        {{getServiceProductSpecTypeInfoByKey('site').service_order_product_extend_value}}
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <p>上传图片</p>
                    </div>
                </div>
                <div class="images-container">
                    <table class="table-container">
                        <tr>
                            <td>
                                <div class="image aspect-ratio" data-ratio="1:1" (click)="showImage(order?.service_order_product_info.service_order_product_image_list[0]?.source)" [style.background-image]="'url(' + order?.service_order_product_info.service_order_product_image_list[0].source + ')'"></div>
                                <span>营运证</span>
                            </td>
                            <td>
                                <div class="image aspect-ratio" data-ratio="1:1" (click)="showImage(order?.service_order_product_info.service_order_product_image_list[1]?.source)" [style.background-image]="'url(' + order?.service_order_product_info.service_order_product_image_list[1]?.source + ')'"></div>
                                <span>行驶证</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <p>应支付</p>
                    </div>
                    <div class="weui-cell__ft"><span class="text-warning">￥{{order?.total}}</span></div>
                </div>
                <div class="weui-cell weui-cell-special">
                    <div class="weui-cell__bd">
                        <p>支付方式</p>
                    </div>
                    <div class="weui-cell__ft">
                        <img src="/assets/images/icon/wxpay.png" width="133px" height="25px" />
                        <p>（暂不支持其他支付方式）</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="confirm-order" *ngIf="order?.service_order_product_info?.service_type_info?.service_type_key === 'service_audit_car'">
            <div class="weui-cells ">
                <div class="weui-cell special-cell">
                    <div class="weui-cell__bd">
                        <p>服务类型</p>
                    </div>
                    <div class="weui-cell__ft"><span>{{getServiceProductSpecTypeInfoByKey('service_type').service_order_product_extend_value}}</span></div>
                </div>
                <div class="weui-cell weui-cell-small">
                    <div class="weui-cell__bd">
                        <p>车辆性质</p>
                    </div>
                    <div class="weui-cell__ft">{{getServiceProductSpecTypeInfoByKey('car_property').service_order_product_extend_value}}</div>
                </div>
                <div class="weui-cell no-border weui-cell-small">
                    <div class="weui-cell__bd">
                        <p>车辆类型 </p>
                    </div>
                    <div class="weui-cell__ft">{{getServiceProductSpecTypeInfoByKey('car_type').service_order_product_extend_value}}</div>
                </div>
                <div class="weui-cell no-border weui-cell-small">
                    <div class="weui-cell__bd">
                        <p>车牌号码</p>
                    </div>
                    <div class="weui-cell__ft">{{getServiceProductSpecTypeInfoByKey('car_plate_no').service_order_product_extend_value | uppercase | plateFormat}}</div>
                </div>
                <div class="weui-cell weui-cell-small">
                    <div class="weui-cell__bd">
                        <p>预约时间</p>
                    </div>
                    <div class="weui-cell__ft">{{getServiceProductSpecTypeInfoByKey('service_date').service_order_product_extend_value}}</div>
                </div>
                <div class="weui-cell no-border weui-cell-small">
                    <div class="weui-cell__bd">
                        <p>检测地点</p>
                    </div>
                    <div class="weui-cell__ft">
                        {{getServiceProductSpecTypeInfoByKey('region').service_order_product_extend_value}}
                        {{getServiceProductSpecTypeInfoByKey('site').service_order_product_extend_value}}
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <p>上传图片</p>
                    </div>
                </div>
                <div class="images-container" *ngIf="order?.service_order_product_info.service_order_product_image_list.length===1">
                    <img class="single-img" (click)="showImage(order?.service_order_product_info.service_order_product_image_list[0]?.source)" [src]="order?.service_order_product_info.service_order_product_image_list[0].source" style="height:150px;width: auto;"/>
                </div>
                <div class="images-container" *ngIf="order?.service_order_product_info.service_order_product_image_list.length===2">
                    <table class="table-container">
                        <tr>
                            <td>
                                <div class="image aspect-ratio" (click)="showImage(order?.service_order_product_info.service_order_product_image_list[0]?.source)" data-ratio="1:1" [style.background-image]="'url(' + order?.service_order_product_info.service_order_product_image_list[0].source + ')'"></div>
                            </td>
                            <td>
                                <div class="image aspect-ratio" (click)="showImage(order?.service_order_product_info.service_order_product_image_list[1]?.source)" data-ratio="1:1" [style.background-image]="'url(' + order?.service_order_product_info.service_order_product_image_list[1]?.source + ')'"></div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <p>应支付</p>
                    </div>
                    <div class="weui-cell__ft"><span class="text-warning">￥{{order?.total}}</span></div>
                </div>
                <div class="weui-cell weui-cell-special">
                    <div class="weui-cell__bd">
                        <p>支付方式</p>
                    </div>
                    <div class="weui-cell__ft">
                        <img src="/assets/images/icon/wxpay.png" width="133px" height="25px" />
                        <p>（暂不支持其他支付方式）</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="weui-gallery" [hidden]="!isShowImage">
        <span class="weui-gallery__img" [style.background-image]="'url(' + largerImg + ')'"></span>
        <div class="weui-gallery__opr">
            <a href="javascript:" class="weui-gallery__del" (click)="showImage()">
                <i class="weui-icon-cancel weui-icon_gallery-cancel"></i>
            </a>
        </div>
    </div>

    <a href="javascript:;" class="weui-btn weui-btn_primary full-width-btn with-no-radius" (click)="payOrder()" *ngIf="order?.service_order_status_info.is_pay">付款</a>
</div>
