<div class="buy-index">
    <div class="slider">
        <!-- 如果轮播图只有一张图 -->
        <div *ngIf="images.length===1">
            <div class="swiper-img" [style.background-image]="'url(' + images[0]+ ')'"></div>
        </div>
        <!-- 如果轮播图大于一张图 -->
        <weui-swiper [options]="options" *ngIf="images.length>1" #wuiSwiper>
            <div class="swiper-container">
                <!-- 容器（必选） -->
                <div class="swiper-wrapper">
                    <div class="swiper-slide" *ngFor="let image of images">
                        <div class="swiper-img" [style.background-image]="'url(' + image+ ')'"></div>
                    </div>
                </div>
                <!-- 分页（可选） -->
                <div class="swiper-pagination"></div>
            </div>
        </weui-swiper>
    </div>
    <div class="classify">
        <div class="weui-flex">
            <div class="weui-flex__item">
                <!-- <div class="content-space"></div> -->
                <div class="classify-content-box">
                    <img src="../../assets/images/tmp/zhatuche.png">
                    <span class="title">自卸系列系列</span>
                </div>
                <!-- <div class="content-space"></div> -->
            </div>
            <div class="weui-flex__item">
                <div class="classify-content-box">
                    <img src="../../assets/images/tmp/zhatuche.png">
                    <span class="title">自卸系列系列123</span>
                </div>
            </div>
            <div class="weui-flex__item">
                <div class="classify-content-box">
                    <img src="../../assets/images/tmp/zhatuche.png">
                    <span class="title">自卸系列系列123</span>
                </div>
            </div>
            <div class="weui-flex__item">
                <div class="classify-content-box">
                    <img src="../../assets/images/tmp/zhatuche.png">
                    <span class="title">自卸系列系列123</span>
                </div>
            </div>
            <div class="weui-flex__item">
                <div class="classify-content-box">
                    <img src="../../assets/images/tmp/zhatuche.png">
                    <span class="title">自卸系列系列123</span>
                </div>
            </div>
            <div class="weui-flex__item">
                <div class="classify-content-box">
                    <img src="../../assets/images/tmp/zhatuche.png">
                    <span class="title">自卸系列系列123</span>
                </div>
            </div>
        </div>
    </div>
    <app-intention-buy></app-intention-buy>


</div>