.has-phone {
    .weui-cell {
        height: 46px;
        line-height: 46px;
    }
    .head-cell {
        .car-name {
            font-size: 17px;
            color:#000000;
        }
        .car-price {
            font-size: 24px;
            color:#FA9D3B;
        }
    }
}

.user-info {
    background: #EFEFF4;
    padding-bottom: 45px;
    .weui-vcode-btn {
        padding-right:0;
    }

    .ng-from-error {
        input.ng-invalid {
            color:#E64340;
        }
    }
    .weui-cells__title-empty {
        height:18px;
    }
    .weui-cell__ft {
        span:last-child {
            margin-left:5px;
        }
    }
    .weui-agree[hidden]{
        display: none;
    }
}

.modify-mobile {
    margin-top:75px;
}

.weui-vcode-btn[hidden] {
    display: none;
}
.weui-vcode-btn.disabled{
    color:#bcc2c5;
}

a.full-width-btn-with-padding.disabled {
    opacity:0.6;
}


.my-location {
    .weui-cell__bd {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        span:last-child {
            margin-left:5px;
        }
    }
}
.current-location {
    img {
        width: 19px;
        height: 24px;
        position: relative;
        top: 6px;
    }
    span {
        color:#000000;
        font-size:14px;
        padding-left:5px;
    }
}
.all-location {
    margin-bottom: 20px;
    span {
        color:#000000;
        font-size:14px;
    }
}
