@import "../../../assets/styles/variables";

.app-detail {
    background:$bgWhite;
    width: 100%;
    position: relative;
    height: 100%;
    padding-bottom: 50px;
    .weui-btn {
        line-height: 50px;
    }
    .call-with-phone {
        width: 20%;
        color: #1970A6;
        background: #FFF;
        left: 0;
        right: unset;
        font-size: 12px;
        padding: 0;
        line-height: normal;
        img {
            width: 22px;
            height: 22px;
            position: relative;
            top: 5px;
            /* left: -5px; */
            display: block;
            margin: 0 auto;
        }
        span {
            position: relative;
            top: 7px;
        }
    }
    .order-now {
        width:80%;
        background:#1970A6;
        color:#FFF;
        left:20%;
    }
    .empty-image {
        margin-top:8px;
    }
}
.slider {
    height:200px;
    margin:8px 0 5px 0;
    width:100%;
    img {
        height:182px;
        width:80%;
        margin:0 auto;
        display: block;
    }
    .swiper-container {
        width: 100%;
        height: 200px;
    }
    .swiper-slide {
        width:82%;
        padding:0 2%;
        height: 182px;
        line-height: 182px;
        text-align: center;
        background: transparent;
        img {
            width:100%;
        }
    }
    .swiper-pagination-fraction,
    .swiper-pagination-custom,
    .swiper-container-horizontal > .swiper-pagination-bullets {
        bottom:-5px;
    }
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background:#494949;
    }
}

article.full-with-page {
    padding-bottom: 15px;
    h2 {
        font-size:20px;
        color:#000;
        font-weight: normal;
        line-height:30px;
    }
    header {
        padding-bottom:5px;
        border-bottom:1px solid #EFEFEF;
        p {
            color:#FA9D3B;
            font-size:16px;
            font-weight: normal;
            line-height:24px;
            margin:1px 0 0 0;
        }
    }
}

section {
    margin-top:5px;
    p {
        line-height:24px;
        font-size:14px;
        color:#494949;
    }
    img {
        display: block;
        width:100%;
        margin:5px 0;
    }
    .sub-header {
        font-size:14px;
        color:#8A8B8F;
        font-weight: normal;
        line-height:15px;
        margin-bottom:5px;
    }
    li {
        font-size:14px;
        color:#676767;
        line-height:24px;
        margin-left:15px;
        list-style: circle outside;
    }
}


.goTop {
    position: fixed;
    bottom:80px;
    right:10px;
    height:40px;
    width:40px;
    background: url("/assets/images/icon/gotop.png") 0 0 no-repeat;
    background-size: contain;
}
