<div class="user-info cart-page">
    <div class="scroll-page">
        <form [formGroup]="orderForm" (ngSubmit)="orderNow()" [ngClass]="{'ng-from-error':fromError}">
            <div class="has-phone">
                <!--<div class="weui-cells__title-empty"></div>-->
                <div class="weui-cells__title">车辆信息</div>
                <div class="weui-cells head-cell">
                    <div class="weui-cell">
                        <div class="weui-cell__hd"><label class="weui-label">车辆名称</label></div>
                        <div class="weui-cell__bd"><span class="car-name">{{product.product_name}}</span></div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd"><label class="weui-label">价格</label></div>
                        <div class="weui-cell__bd"><span class="car-price">￥{{product.price_description}}</span></div>
                    </div>
                </div>

                <div class="weui-cells__title">我的信息</div>
                <div class="weui-cells">
                    <div class="weui-cell">
                        <div class="weui-cell__hd"><label class="weui-label">姓名</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="text" [formControl]="username" placeholder="{{username.invalid && (username.dirty || errorMessage) ? '请填写您的姓名' : '请填写您的姓名'}}" appFocusBlur/>
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_access my-location">
                        <div class="weui-cell__hd"><label class="weui-label">上牌地区</label></div>
                        <div class="weui-cell__bd" [hidden]="!(selectedCity.region_id)" (click)="selectArea()"><span>{{selectedRegion.region_name}}</span><span>{{selectedCity.region_name}}</span></div>
                        <div class="weui-cell__bd" [hidden]="(selectedCity.region_id)" style="color:#a9a9a9;" (click)="selectArea()">请选择上牌区域</div>
                        <div class="weui-cell__ft"></div>
                    </div>
                </div>

                <div class="weui-cells__title-empty"></div>
                <div class="weui-cells">
                    <div class="weui-cell">
                        <div class="weui-cell__hd"><label class="weui-label">邀请码</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="text" [formControl]="code" placeholder="请输入4位邀请码（没有可不填）" appFocusBlur/>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <a href="javascript:;" class="weui-btn weui-btn_primary full-width-btn with-no-radius" (click)="orderNow()">确认提交</a>

    <div class="error-bar" [hidden]="!errorMessage">
        <span>{{errorMessage}}</span>
    </div>

    <weui-popup #full [config]="{is_full: true}">
        <div class="weui-cells__title">当前位置</div>
        <div class="weui-cells current-location">
            <a class="weui-cell" href="javascript:;" (click)="selectCity()">
                <div class="weui-cell__bd">
                    <img src="/assets/images/icon/location.fill.png" />
                    <span>{{currentCity?.region_name}}</span>
                </div>
                <div class="weui-cell__ft"></div>
            </a>
        </div>
        <div class="weui-cells__title">全部省份</div>
        <div class="weui-cells all-location">
            <a *ngFor="let region of regionList" class="weui-cell weui-cell_access" href="javascript:;" (click)="selectRegion(region)">
                <div class="weui-cell__bd"><span>{{region.region_name}}</span></div>
                <div class="weui-cell__ft"><span [hidden]="!(selectedRegion.region_id && selectedRegion.region_id === region.region_id && selectedCity.region_id)">当前选择地区</span></div>
            </a>
        </div>
    </weui-popup>

    <weui-popup #fullCity [config]="{is_full: true}">
        <div class="weui-cells__title">全部城市</div>
        <div class="weui-cells all-location">
            <a *ngFor="let city of childrenRegionList" class="weui-cell" href="javascript:;" (click)="selectCity(city)">
                <div class="weui-cell__bd"><span>{{city.region_name}}</span></div>
                <div class="weui-cell__ft"><span [hidden]="selectedCity.region_id !== city.region_id"><i class="weui-icon-success-no-circle"></i></span></div>
            </a>
        </div>
    </weui-popup>
</div>
