<div class="page">
    <div class="scroll-page">
        <!--<span (click)="changeMode('license');">驾照</span> | <span (click)="changeMode('car');">车辆</span> | <span (click)="changeMode('cert');">营运</span>-->
        <div class="order-bar">
            <span class="left">订单号：{{detail?.service_order_no}}</span>
            <span class="right">下单时间：{{detail?.service_order_date}}</span>
        </div>
        <div class="status-bar">
            <p>订单状态：{{detail?.service_order_status_info.service_order_status_name}}</p>
            <p class="text-primary" [hidden]="!detail?.service_order_comment">原因：{{detail?.service_order_comment}}</p>
        </div>
        <div class="confirm-order" *ngIf="detail?.service_product_info?.service_type?.service_type_key === 'service_driving_license'">
            <div class="weui-cells ">
                <div class="weui-cell special-cell">
                    <div class="weui-cell__bd">
                        <p>服务类型</p>
                    </div>
                    <div class="weui-cell__ft"><span>{{getServiceProductSpecTypeInfoByKey('service_type').service_order_product_extend_value}}</span></div>
                </div>
                <div class="weui-cell weui-cell-small">
                    <div class="weui-cell__bd">
                        <p>驾照归属地</p>
                    </div>
                    <div class="weui-cell__ft">{{getServiceProductSpecTypeInfoByKey('region').service_order_product_extend_value}}</div>
                </div>
                <div class="weui-cell no-border weui-cell-small">
                    <div class="weui-cell__bd">
                        <p>驾照类型</p>
                    </div>
                    <div class="weui-cell__ft">{{getServiceProductSpecTypeInfoByKey('driving_license_type').service_order_product_extend_value}}</div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <p>上传图片</p>
                    </div>
                </div>
                <div class="images-container">
                    <table class="table-container">
                        <tr>
                            <td>
                                <div class="image aspect-ratio" data-ratio="1:1" [style.background-image]="'url(' + detail?.service_order_product_info.service_order_product_image_list[0].thumb + ')'"></div>
                                <span>驾照正副本</span>
                            </td>
                            <td>
                                <div class="image aspect-ratio" data-ratio="1:1" [style.background-image]="'url(' + detail?.service_order_product_info.service_order_product_image_list[1]?.thumb + ')'"></div>
                                <span>人靠白墙半身照</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="image uploaded img-license aspect-ratio" data-ratio="1:1" [style.background-image]="'url(' + detail?.service_order_product_info.service_order_product_image_list[2]?.thumb + ')'"></div>
                                <span>身份证正面</span>
                            </td>
                            <td>
                                <div class="image aspect-ratio" data-ratio="1:1" [style.background-image]="'url(' + detail?.service_order_product_info.service_order_product_image_list[3]?.thumb + ')'"></div>
                                <span>身份证反面</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <p>应支付</p>
                    </div>
                    <div class="weui-cell__ft"><span class="text-warning">￥{{detail?.total}}</span></div>
                </div>
                <div class="weui-cell weui-cell-special">
                    <div class="weui-cell__bd">
                        <p>支付方式</p>
                    </div>
                    <div class="weui-cell__ft">
                        <img src="/assets/images/icon/wxpay.png" width="133px" height="25px" />
                        <p>（暂不支持其他支付方式）</p>
                    </div>
                </div>
                <div class="weui-cell cell-operation">
                    <div class="weui-cell__bd">
                        <span> </span>
                    </div>
                    <div class="weui-cell__bd button-sp-area">
                        <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default weui-btn_mini_warn" (click)="payOrder(detail?.service_order_id)" *ngIf="detail?.service_order_status_info.is_pay">付款</a>
                        <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default weui-btn_mini_primary" (click)="editOrder(detail?.service_order_id)" *ngIf="detail?.service_order_status_info.is_edit">修改</a>
                        <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default weui-btn_mini_default" (click)="cancelOrder(detail?.service_order_id)" *ngIf="detail?.service_order_status_info.is_delete">取消</a>
                        <!--<a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default weui-btn_mini_default" (click)="deleteOrder(detail?.service_order_id)" *ngIf="detail?.service_order_status_info.is_delete">删除</a>-->
                        <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default weui-btn_mini_default" (click)="refundOrder(detail?.service_order_id)" *ngIf="detail?.service_order_status_info.is_return">退款</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="confirm-order" *ngIf="detail?.service_product_info?.service_type?.service_type_key === 'service_operation_certificate'">
            <div class="weui-cells ">
                <div class="weui-cell special-cell">
                    <div class="weui-cell__bd">
                        <p>服务类型</p>
                    </div>
                    <div class="weui-cell__ft"><span>{{getServiceProductSpecTypeInfoByKey('service_type').service_order_product_extend_value}}</span></div>
                </div>
                <div class="weui-cell weui-cell-small">
                    <div class="weui-cell__bd">
                        <p>车辆性质</p>
                    </div>
                    <div class="weui-cell__ft">{{getServiceProductSpecTypeInfoByKey('car_property').service_order_product_extend_value}}</div>
                </div>
                <div class="weui-cell no-border weui-cell-small">
                    <div class="weui-cell__bd">
                        <p>车辆类型 </p>
                    </div>
                    <div class="weui-cell__ft">{{getServiceProductSpecTypeInfoByKey('car_type').service_order_product_extend_value}}</div>
                </div>
                <div class="weui-cell no-border weui-cell-small">
                    <div class="weui-cell__bd">
                        <p>车牌号码</p>
                    </div>
                    <div class="weui-cell__ft">{{getServiceProductSpecTypeInfoByKey('car_plate_no').service_order_product_extend_value}}</div>
                </div>
                <div class="weui-cell weui-cell-small">
                    <div class="weui-cell__bd">
                        <p>预约时间</p>
                    </div>
                    <div class="weui-cell__ft">{{detail?.service_order_return_apply_date}}</div>
                </div>
                <div class="weui-cell no-border weui-cell-small">
                    <div class="weui-cell__bd">
                        <p>检测地点</p>
                    </div>
                    <div class="weui-cell__ft">
                        {{getServiceProductSpecTypeInfoByKey('region').service_order_product_extend_value}}
                        {{getServiceProductSpecTypeInfoByKey('site').service_order_product_extend_value}}
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <p>上传图片</p>
                    </div>
                </div>
                <div class="images-container">
                    <table class="table-container">
                        <tr>
                            <td>
                                <div class="image aspect-ratio" data-ratio="1:1" [style.background-image]="'url(' + detail?.service_order_product_info.service_order_product_image_list[0].thumb + ')'"></div>
                                <span>营运证</span>
                            </td>
                            <td>
                                <div class="image aspect-ratio" data-ratio="1:1" [style.background-image]="'url(' + detail?.service_order_product_info.service_order_product_image_list[1]?.thumb + ')'"></div>
                                <span>行驶证</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <p>应支付</p>
                    </div>
                    <div class="weui-cell__ft"><span class="text-warning">￥{{detail?.total}}</span></div>
                </div>
                <div class="weui-cell weui-cell-special">
                    <div class="weui-cell__bd">
                        <p>支付方式</p>
                    </div>
                    <div class="weui-cell__ft">
                        <img src="/assets/images/icon/wxpay.png" width="133px" height="25px" />
                        <p>（暂不支持其他支付方式）</p>
                    </div>
                </div>
                <div class="weui-cell cell-operation">
                    <div class="weui-cell__bd">
                        <span> </span>
                    </div>
                    <div class="weui-cell__bd button-sp-area">
                        <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default weui-btn_mini_warn" (click)="payOrder(detail?.service_order_id)" *ngIf="detail?.service_order_status_info.is_pay">付款</a>
                        <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default weui-btn_mini_primary" (click)="editOrder(detail?.service_order_id)" *ngIf="detail?.service_order_status_info.is_edit">修改</a>
                        <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default weui-btn_mini_default" (click)="cancelOrder(detail?.service_order_id)" *ngIf="detail?.service_order_status_info.is_delete">取消</a>
                        <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default weui-btn_mini_default" (click)="refundOrder(detail?.service_order_id)" *ngIf="detail?.service_order_status_info.is_return">退款</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="confirm-order" *ngIf="detail?.service_product_info?.service_type?.service_type_key === 'service_audit_car'">
            <div class="weui-cells ">
                <div class="weui-cell special-cell">
                    <div class="weui-cell__bd">
                        <p>服务类型</p>
                    </div>
                    <div class="weui-cell__ft"><span>{{getServiceProductSpecTypeInfoByKey('service_type').service_order_product_extend_value}}</span></div>
                </div>
                <div class="weui-cell weui-cell-small">
                    <div class="weui-cell__bd">
                        <p>车辆性质</p>
                    </div>
                    <div class="weui-cell__ft">{{getServiceProductSpecTypeInfoByKey('car_property').service_order_product_extend_value}}</div>
                </div>
                <div class="weui-cell no-border weui-cell-small">
                    <div class="weui-cell__bd">
                        <p>车辆类型 </p>
                    </div>
                    <div class="weui-cell__ft">{{getServiceProductSpecTypeInfoByKey('car_type').service_order_product_extend_value}}</div>
                </div>
                <div class="weui-cell no-border weui-cell-small">
                    <div class="weui-cell__bd">
                        <p>车牌号码</p>
                    </div>
                    <div class="weui-cell__ft">{{getServiceProductSpecTypeInfoByKey('car_plate_no').service_order_product_extend_value}}</div>
                </div>
                <div class="weui-cell weui-cell-small">
                    <div class="weui-cell__bd">
                        <p>预约时间</p>
                    </div>
                    <div class="weui-cell__ft">{{detail?.service_order_return_apply_date}}</div>
                </div>
                <div class="weui-cell no-border weui-cell-small">
                    <div class="weui-cell__bd">
                        <p>检测地点</p>
                    </div>
                    <div class="weui-cell__ft">
                        {{getServiceProductSpecTypeInfoByKey('region').service_order_product_extend_value}}
                        {{getServiceProductSpecTypeInfoByKey('site').service_order_product_extend_value}}
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <p>上传图片</p>
                    </div>
                </div>
                <div class="images-container" *ngIf="detail?.service_order_product_info.service_order_product_image_list.length===1">
                    <img class="single-img" [src]="detail?.service_order_product_info.service_order_product_image_list[0].thumb" style="height:150px;width: 250px;"/>
                </div>
                <div class="images-container" *ngIf="detail?.service_order_product_info.service_order_product_image_list.length===2">
                    <table class="table-container">
                        <tr>
                            <td>
                                <div class="image aspect-ratio" data-ratio="1:1" [style.background-image]="'url(' + detail?.service_order_product_info.service_order_product_image_list[0].thumb + ')'"></div>
                            </td>
                            <td>
                                <div class="image aspect-ratio" data-ratio="1:1" [style.background-image]="'url(' + detail?.service_order_product_info.service_order_product_image_list[1]?.thumb + ')'"></div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <p>应支付</p>
                    </div>
                    <div class="weui-cell__ft"><span class="text-warning">￥{{detail?.total}}</span></div>
                </div>
                <div class="weui-cell weui-cell-special">
                    <div class="weui-cell__bd">
                        <p>支付方式</p>
                    </div>
                    <div class="weui-cell__ft">
                        <img src="/assets/images/icon/wxpay.png" width="133px" height="25px" />
                        <p>（暂不支持其他支付方式）</p>
                    </div>
                </div>
                <div class="weui-cell cell-operation">
                    <div class="weui-cell__bd">
                        <span> </span>
                    </div>
                    <div class="weui-cell__bd button-sp-area">
                        <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default weui-btn_mini_warn" (click)="payOrder(detail?.service_order_id)" *ngIf="detail?.service_order_status_info.is_pay">付款</a>
                        <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default weui-btn_mini_primary" (click)="editOrder(detail?.service_order_id)" *ngIf="detail?.service_order_status_info.is_edit">修改</a>
                        <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default weui-btn_mini_default" (click)="cancelOrder(detail?.service_order_id)" *ngIf="detail?.service_order_status_info.is_delete">取消</a>
                        <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default weui-btn_mini_default" (click)="refundOrder(detail?.service_order_id)" *ngIf="detail?.service_order_status_info.is_return">退款</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <a href="javascript:;" class="weui-btn weui-btn_primary full-width-btn with-no-radius" (click)="payOrder(detail?.service_order_id)" *ngIf="detail?.service_order_status_info.is_pay">付款</a>
</div>
