<div class="scroll-page certificate">
    <tabset (onSelect)="onTabSelect($event)">
        <!--<tabs *ngFor="let tabs of tabs" title="{{tabs.title}}" [disabled]="tabs.disabled">{{tabs.content}}</tabs>-->
        <tab title="审验须知">
            <div class="weui-panel pure-text-article">
                <div class="weui-panel__bd">
                    <div class="weui-media-box weui-media-box_text">
                        <h4 class="weui-media-box__title">一.审验条件</h4>
                        <p class="weui-media-box__desc weui-media-box__desc-title">黄牌车辆必须先安装北斗，费用大约500元，可自行安装，或下单后联系平台帮助安装；</p>
                        <p class="weui-media-box__desc weui-media-box__desc-title">过户车辆车牌必须过户后，才能办理营运证</p>
                    </div>
                    <div class="weui-media-box weui-media-box_text">
                        <h4 class="weui-media-box__title">二.所需资料</h4>
                        <p class="weui-media-box__desc weui-media-box__desc-title">平台预约需要上传的资料：</p>
                        <p class="weui-media-box__desc">行驶证照片；</p>
                        <p class="weui-media-box__desc">产权证照片；</p>
                        <p class="weui-media-box__desc">车辆合格证照片；</p>
                        <p class="weui-media-box__desc">身份证照片；</p>
                        <p class="weui-media-box__desc">车辆左侧45度照片；</p>
                        <p class="weui-media-box__desc weui-media-box__desc-title">审验时需要携带的资料：</p>
                        <p class="weui-media-box__desc">行驶证原件；</p>
                        <p class="weui-media-box__desc">营运资格证原件</p>
                    </div>
                    <div class="weui-media-box weui-media-box_text">
                        <h4 class="weui-media-box__title">三.办理流程和费用</h4>
                        <p class="weui-media-box__desc weui-media-box__desc-title">上传相关资料到平台；</p>
                        <p class="weui-media-box__desc weui-media-box__desc-title">线上缴纳费用；</p>
                        <p class="weui-media-box__desc weui-media-box__desc-title">业务人员会提前联系您，请您在预约时间开车到检测站上线检测；</p>
                        <p class="weui-media-box__desc weui-media-box__desc-title">检测通过后，运管所盖章；</p>
                        <p class="weui-media-box__desc weui-media-box__desc-title">立等取证或业务员快递给您。</p>
                    </div>
                </div>
            </div>
        </tab>
        <tab title="预约" [disabled]="shouldReservation">
            <div class="tab-content" [hidden]="showNext">
                <div class="weui-cells__title">一.车辆信息</div>
                <div class="weui-cells weui-cells_checkbox">
                    <label class="weui-cell weui-check__label" for="checkbox-{{item.id}}" *ngFor="let item of items; let index = index">
                        <div class="weui-cell__hd">
                            <input type="checkbox" class="weui-check" checked="{{item.isChecked}}" [weui-checklist]="res.checkbox" name="item" [weui-value]="item.id" id="checkbox-{{item.id}}" (click)="onchange($event, item)" />
                            <i class="weui-icon-checked"></i>
                        </div>
                        <div class="weui-cell__bd">
                            <span>{{item.cardType}}</span><span>{{item.carType}}</span><span>{{item.cardId}}</span>
                        </div>
                    </label>
                </div>
                <div class="weui-cells__title">二.审验材料添加</div>
                <div class="weui-cells">
                    <a class="weui-cell weui-cell_access" href="javascript:;">
                        <div class="weui-cell__bd">
                            <p>审验城市</p>
                        </div>
                        <div class="weui-cell__ft">请选择审验城市</div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="javascript:;">
                        <div class="weui-cell__bd">
                            <p>审验站点</p>
                        </div>
                        <div class="weui-cell__ft">
                            <!--请选择审验站点-->
                            <weui-picker placeholder="请选择审验站点" required [groups]="itemsRadio" [(ngModel)]="res.item" name="item"></weui-picker>
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="javascript:;">
                        <div class="weui-cell__bd">
                            <p>审验时间</p>
                        </div>
                        <div class="weui-cell__ft">请选择审验时间</div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="javascript:;">
                        <div class="weui-cell__bd">
                            <p>费     用</p>
                        </div>
                        <div class="weui-cell__ft"><span class="text-warning">520</span></div>
                    </a>
                </div>
            </div>
            <div class="tab-content" [hidden]="!showNext">
                <div class="weui-cells__title">请上传以下照片</div>
                <div class="images-container">
                    <table class="table-container">
                        <tr>
                            <td>
                                <span>示例图片</span>
                                <div class="image uploaded img-license aspect-ratio" data-ratio="1:1" style="background-image:url('http://via.placeholder.com/100x100')"></div>
                            </td>
                            <td>
                                <span>营运证</span>
                                <div class="image aspect-ratio" data-ratio="1:1" style="background-image:url('http://via.placeholder.com/100x100')"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>示例图片</span>
                                <div class="image uploaded img-license aspect-ratio" data-ratio="1:1" style="background-image:url('http://via.placeholder.com/100x100')"></div>
                            </td>
                            <td>
                                <span>行驶证</span>
                                <div class="image aspect-ratio" data-ratio="1:1" style="background-image:url('http://via.placeholder.com/100x100')"></div>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>

            <span [hidden]="showNext">
                <a href="javascript:;" class="weui-btn weui-btn_passive weui-btn_primary full-width-btn-with-padding" (click)="next();">下一步</a>
            </span>
            <div class="btn-group" [hidden]="!showNext">
                <a href="javascript:;" class="weui-btn weui-btn_default" (click)="onShow()">上一步</a>
                <a href="javascript:;" class="weui-btn weui-btn_primary" [routerLink]="['/confirmOrder', 1]">确认订单：<span>520</span>元</a>
            </div>
        </tab>
    </tabset>

    <div [hidden]="shouldReservationBox">
        <div class="weui-mask"></div>
        <div class="weui-dialog">
            <div class="weui-dialog__hd"><strong class="weui-dialog__title">填写信息</strong></div>
            <div class="weui-dialog__bd">请先补全个人和车辆信息！</div>
            <div class="weui-dialog__ft">
                <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary" (click)="goToUser()">补充信息</a>
            </div>
        </div>
    </div>

    <!--<div class="weui-cells weui-cells_form">
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">*Direct Picker</label>
            </div>
            <div class="weui-cell__bd">
                <weui-picker placeholder="Pick a item" required [groups]="itemsRadio" [(ngModel)]="res.item" name="item"></weui-picker>
            </div>
        </div>
    </div>-->
</div>

