.scroll-page {
    height:100%;
}
.certificate {
    background:#FFF;
    .weui-cells_checkbox {
        .weui-cell__bd {
            span {
                display: inline-block;
                width:33%;
            }
            .weui-icon-checked {
                position: relative;
                top: -2px;
            }
        }
    }
    .tab-content {
        .station-name {
            width: 80%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .for-station {
            text-align: right;
            position: relative;
            top: 0;
            color: #999999;
            background: url("/assets/images/icon/location.png") left center no-repeat;
            background-size: contain;
            padding-left: 20px;
        }
    
        .weui-cell__ft.error {
            .for-station {
                color:#E64340;
            }
        }
    }
    .weui-cell__bd {
        color: #000;
    }
}

