<div class="scroll-page certificate">
    <tabset (onSelect)="onTabSelect($event)">
        <tab title="审验须知">
            <div class="weui-panel pure-text-article">
                <div class="weui-panel__bd">
                    <div class="weui-media-box weui-media-box_text">
                        <h4 class="weui-media-box__title">一.审验条件</h4>
                        <p class="weui-media-box__desc weui-media-box__desc-title">黄牌车辆审验前必须先安装北斗，可自行安装，或下单后联系平台帮助安装；</p>
                        <p class="weui-media-box__desc weui-media-box__desc-title">过户车辆车牌必须过户</p>
                    </div>
                    <div class="weui-media-box weui-media-box_text">
                        <h4 class="weui-media-box__title">二.所需资料</h4>
                        <p class="weui-media-box__desc weui-media-box__desc-title">平台预约需要上传：</p>
                        <p class="weui-media-box__desc">营运资格证照片；</p>
                        <p class="weui-media-box__desc">行驶证照片；</p>
                        <!--<p class="weui-media-box__desc">车辆合格证照片；</p>
                        <p class="weui-media-box__desc">身份证照片；</p>
                        <p class="weui-media-box__desc">车辆左侧45度照片；</p>-->
                        <p class="weui-media-box__desc weui-media-box__desc-title">审验时需要携带：</p>
                        <p class="weui-media-box__desc">营运资格证原件；</p>
                        <p class="weui-media-box__desc">行驶证原件</p>
                    </div>
                    <div class="weui-media-box weui-media-box_text">
                        <h4 class="weui-media-box__title">三.办理流程</h4>
                        <p class="weui-media-box__desc weui-media-box__desc-title">上传相关资料到平台；</p>
                        <p class="weui-media-box__desc weui-media-box__desc-title">线上缴纳费用；</p>
                        <p class="weui-media-box__desc weui-media-box__desc-title">平台对资料进行审核（非工作日和工作时间不予审核）；</p>
                        <p class="weui-media-box__desc weui-media-box__desc-title">通过审核后，请于预约当天开车到检测站上线检测，有平台工作人员接待；</p>
                        <p class="weui-media-box__desc weui-media-box__desc-title">检测通过后，运管所盖章</p>
                        <p class="weui-media-box__desc weui-media-box__desc-title">立等取证或快递给您。</p>
                    </div>
                </div>
            </div>
        </tab>
        <tab title="预约" [disabled]="shouldReservation">
            <div class="tab-content" [hidden]="showNext">
                <div class="weui-cells__title">一.车辆信息</div>
                <div class="weui-cells weui-cells_checkbox">
                    <label class="weui-cell weui-check__label" for="car-{{car.car_id}}" *ngFor="let car of cars; index as index">
                        <div class="weui-cell__hd">
                            <input type="radio" class="weui-check" [(ngModel)]="result.selected" [value]="car" name="car" id="car-{{car.car_id}}" (change)="onchange($event, car)" />
                            <i class="weui-icon-checked"></i>
                        </div>
                        <div class="weui-cell__bd">
                            <span>{{car.car_property_info.car_property_name}}</span><span>{{car.car_type_info.car_type_name}}</span><span>{{car.province_code_info.province_code_name}}{{car.plate_no | uppercase}}</span>
                        </div>
                    </label>
                </div>
                <div class="weui-cells__title">二.审验材料添加</div>
                <div class="weui-cells">
                    <a class="weui-cell weui-cell_access" href="javascript:;" (click)="fullPopup.show()">
                        <div class="weui-cell__bd">
                            <p>审验城市</p>
                        </div>
                        <div class="weui-cell__ft" [ngClass]="{'error':!result.city.valid}">{{result.city.region_name || '请选择审验城市'}}</div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="javascript:;">
                        <div class="weui-cell__bd">
                            <p>审验站点</p>
                        </div>
                        <div class="weui-cell__ft station-name" [ngClass]="{'error':!result.station.valid}" (click)="showStation()">
                            <span class="for-station">{{result.station.site_name || '请选择审验站点'}}</span>
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="javascript:;" (click)="showDateTypeBox()">
                        <div class="weui-cell__bd">
                            <p>审验时间</p>
                        </div>
                        <div class="weui-cell__ft" [ngClass]="{'error':!result.date.valid}">
                            {{result.date.service_date ? (result.date.service_date | date:'MM.dd') : '请选择审验时间'}}
                        </div>
                    </a>
                    <a class="weui-cell" href="javascript:;" *ngIf="price">
                        <div class="weui-cell__bd">
                            <p>费     用</p>
                        </div>
                        <div class="weui-cell__ft"><span class="text-warning">{{price}}</span></div>
                    </a>
                </div>
            </div>
            <div class="tab-content" [hidden]="!showNext">
                <div class="weui-cells__title">请上传以下照片</div>
                <div class="images-container">
                    <table class="table-container">
                        <tr>
                            <td>
                                <span>示例图片</span>
                                <div class="image uploaded img-license aspect-ratio" data-ratio="1:1" style="background-image:url('/assets/images/tmp/yingyun.png')"></div>
                            </td>
                            <td>
                                <span>营运证</span>
                                <div class="image aspect-ratio" data-ratio="1:1" [ngStyle]="{'background-image':'url(' + (uploaded.a || '/assets/images/icon/uploader.png') + ')'}" (click)="choose('a')"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>示例图片</span>
                                <div class="image uploaded img-license aspect-ratio" data-ratio="1:1" style="background-image:url('/assets/images/tmp/yingyun.png')"></div>
                            </td>
                            <td>
                                <span>行驶证</span>
                                <div class="image aspect-ratio" data-ratio="1:1" [ngStyle]="{'background-image':'url(' + (uploaded.b || '/assets/images/icon/uploader.png') + ')'}" (click)="choose('b')"></div>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>

            <span [hidden]="showNext">
                <a href="javascript:;" class="weui-btn weui-btn_passive weui-btn_primary full-width-btn-with-padding" (click)="goNext()">下一步</a>
            </span>
            <div class="btn-group" [hidden]="!showNext">
                <a href="javascript:;" class="weui-btn weui-btn_default" (click)="goPrev()">上一步</a>
                <a href="javascript:;" class="weui-btn weui-btn_primary" (click)="confirmOrder()">确认订单：<span>{{price}}</span>元</a>
            </div>
        </tab>
    </tabset>

    <div [hidden]="shouldReservationBox">
        <div class="weui-mask weui-animate-fade-in"></div>
        <div class="weui-dialog" style="opacity: 1;visibility: visible;">
            <div class="weui-dialog__hd"><strong class="weui-dialog__title">填写信息</strong></div>
            <div class="weui-dialog__bd">请先补全个人和车辆信息！</div>
            <div class="weui-dialog__ft">
                <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary" (click)="goToUser()">补充信息</a>
            </div>
        </div>
    </div>

    <div class="" [hidden]="!showDateType">
        <div class="weui-mask weui-animate-fade-in weui-mask__in"></div>
        <div class="weui-picker weui-animate-slide-up">
            <div class="weui-picker__hd">
                <a href="javascript:;" data-action="cancel" class="weui-picker__action" (click)="cancelTypeBox()">取消</a>
                <a href="javascript:;" data-action="select" class="weui-picker__action" (click)="selectDateType()">确定</a>
            </div>
            <div class="weui-picker__bd">
                <div class="weui-cells weui-cells_radio">
                    <label class="weui-cell weui-check__label" for="date-{{date.service_date_id}}" *ngFor="let date of dates; index as index">
                        <div class="weui-cell__bd">
                            <p>{{date.service_date | date:'MM.dd'}}</p>
                        </div>
                        <div class="weui-cell__ft">
                            <input type="radio" class="weui-check" [(ngModel)]="selectedDate" [value]="date" name="date" id="date-{{date.service_date_id}}">
                            <span class="weui-icon-checked"></span>
                        </div>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="weui-cells weui-cells_form">
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">*Direct Picker</label>
            </div>
            <div class="weui-cell__bd">
                <weui-picker placeholder="Pick a item" required [groups]="itemsRadio" [(ngModel)]="res.item" name="item"></weui-picker>
            </div>
        </div>
    </div>-->

    <weui-dialog #ios [config]="config"></weui-dialog>

    <weui-popup #full [config]="{is_full: true}" class="weui-popup-region">
        <div *ngFor="let key of cities | keys" id="{{key}}">
            <div class="weui-cells__title">{{key}}</div>
            <div class="weui-cells">
                <div class="weui-cell" (click)="select(city)" *ngFor="let city of cities[key]">
                    <div class="weui-cell__bd">
                        <p>{{city.region_name}}</p>
                    </div>
                    <div class="weui-cell__ft">{{city.area_code}}</div>
                </div>
            </div>
        </div>
        <div class="shortcut">
            <a *ngFor="let key of cities | keys" (click)="goToAnchor(key)">{{key}}</a>
        </div>
    </weui-popup>

    <div class="error-bar" [hidden]="!errorMessage">
        <p>{{errorMessage}}</p>
    </div>

</div>

