<div class="app-detail">
    <div class="scroll-page">
        <div class="slider">
            <div *ngIf="images.length===1">
                <img src="/assets/images/tmp/detail.w.png" />
            </div>
            <weui-swiper [options]="options" *ngIf="images.length>1">
                <div class="swiper-container">
                    <!-- 容器（必选） -->
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" *ngFor="let image of images">
                            <img src="{{image.url}}" />
                        </div>
                    </div>
                    <!-- 分页（可选） -->
                    <div class="swiper-pagination"></div>
                </div>
            </weui-swiper>
        </div>
        <article class="full-with-page">
            <header>
                <h2>轩德3系载货车</h2>
                <p>100-120万</p>
            </header>
            <section>
                <p>这是一段产品特点的描述文字</p>
                <p>这是一段产品特点的描述文字</p>
                <img src="/assets/images/tmp/detail.content.png" />
                <h5 class="sub-header">产品细节</h5>
                <ul>
                    <li><span>这是一条产品细节</span></li>
                    <li><span>这是一条产品细节</span></li>
                    <li><span>这是一条产品细节</span></li>
                    <li><span>这是一条产品细节</span></li>
                    <li><span>这是一条产品细节</span></li>
                    <li><span>这是一条产品细节</span></li>
                </ul>
            </section>
        </article>
    </div>

    <a href="javascript:;" class="weui-btn weui-btn_primary full-width-btn with-no-radius" href="tel:18888888888"><img src="/assets/images/icon/phone.white.png"> 电话咨询</a>
</div>
