<div class="app-detail">
    <div class="scroll-page">
        <div class="slider">
            <div *ngIf="images.length===1">
                <img [src]="images[0].url || ''" />
            </div>
            <weui-swiper [options]="options" *ngIf="images.length>1" #wuiSwiper>
                <div class="swiper-container">
                    <!-- 容器（必选） -->
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" *ngFor="let image of images">
                            <img [src]="image.url" />
                        </div>
                    </div>
                    <!-- 分页（可选） -->
                    <div class="swiper-pagination"></div>
                </div>
            </weui-swiper>
        </div>
        <article class="full-with-page">
            <header>
                <h2>{{product.product_name}}</h2>
                <p>{{product.price_description}}</p>
            </header>
            <section [innerHTML]="product.product_description">
            </section>
        </article>
    </div>

    <a href="javascript:;" class="weui-btn weui-btn_primary full-width-btn with-no-radius" href="tel:4008876108"><img src="/assets/images/icon/phone.white.png"> 电话咨询</a>
</div>
