<div class="app-detail">
    <div class="scroll-page">
        <div class="goTo-wrapper" #scrollMe>
            <div class="empty-image" *ngIf="images.length===0"></div>
            <div class="slider" *ngIf="images.length">
                <div *ngIf="images.length===1">
                    <img [src]="images[0].url || ''" />
                </div>
                <weui-swiper [options]="options" *ngIf="images.length>1" #wuiSwiper>
                    <div class="swiper-container">
                        <!-- 容器（必选） -->
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" *ngFor="let image of images">
                                <img [src]="image.url" />
                            </div>
                        </div>
                        <!-- 分页（可选） -->
                        <div class="swiper-pagination"></div>
                    </div>
                </weui-swiper>
            </div>
            <article class="full-with-page">
                <header>
                    <h2>{{product.product_name}}</h2>
                    <p>{{product.product_summary}}</p>
                </header>
                <section [innerHTML]="product.product_description"></section>
            </article>
        </div>

        <div class="goTop" (click)="goTop();" [hidden]="!show"></div>

        <!-- <a class="call-with-phone weui-btn weui-btn_primary full-width-btn with-no-radius" href="tel:4008876108">
            <img src="/assets/images/icon/phone.blue.png">
            <span>电话咨询</span>
        </a> -->
        <a class="call-with-phone weui-btn weui-btn_primary full-width-btn with-no-radius" href="tel:4008876108">
            <img src="/assets/images/icon/phone.blue.png">
            <span>在线订购</span>
        </a>
        <a href="javascript:;" class="order-now weui-btn weui-btn_primary full-width-btn with-no-radius" [ngClass]="{'disabled':product.is_can_order==='0'}"
            (click)="toCart()">在线订购</a>
    </div>
</div>

<div [hidden]="shouldShowWarningBox" class="warning-box">
    <div class="weui-mask weui-animate-fade-in"></div>
    <div class="weui-dialog" style="opacity: 1;visibility: visible;">
        <div class="weui-dialog__hd"><strong class="weui-dialog__title">抱歉</strong></div>
        <div class="weui-dialog__bd">目前只有E老板才可以在线订购</div>
        <div class="weui-dialog__ft">
            <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary" (click)="iSee()">我知道了</a>
            <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default" (click)="goToEBoss()">成为E老板</a>
        </div>
    </div>
</div>
<app-intention-buy></app-intention-buy>