.edit-order-page {
    background:#FFF;
    .edit-order {
        margin-top: 10px;
        margin-bottom : 70px;
        .weui-cells__title {
            background:#FFF;
        }
        .weui-cells:before {
            border-top:none;
        }
        .weui-cell {
            padding     : 0 15px 0 15px;
            font-size   : 14px;
            height      : 40px;
            line-height : 40px;
            color       : #888888;
            .weui-cells__title {
                margin-left: -15px;
                margin-top:10px;
            }
        }
        .weui-cell-small {
            height      : 35px;
            line-height : 35px;
        }
        .weui-cell-more-special {
            height      : 55px;
            line-height : 55px;
        }
        .weui-cell-special {
            height      : 76px;
            line-height : 76px;
        }
        .weui-cell__bd {
            font-size : 15px;
            color     : #888888;
            p {
                color:#000;
            }
        }
        .weui-cell__ft {
            /*span {
                color     : #000000;
            }*/
            .text-warning {
                color : #FA9D3B;
            }
            img {
                line-height   : normal;
                display       : block;
                float         : right;
                margin-bottom : 10px;
            }
            p {
                line-height : normal;
                clear       : both;
                font-size   : 11px;
                text-align  : center;
            }
        }
        .images-container {
            margin-bottom : 0;
        }
        td {
            border-bottom  : none;
            padding-top    : 0;
            padding-bottom : 10px;
            .image {
                margin-top          : 0;
                background-size     : cover;
                background-repeat   : no-repeat;
                background-position : 0 0;
            }
            span {
                margin-top : 10px;
                display    : block;
            }
        }

        .button-sp-area {
            text-align : right;
            height     : 60px;
        }

    }
    .weui-btn_passive {
        margin : 50px 30px 25px 30px;
    }

    .aspect-ratio {
        span {
            position: absolute;
            bottom: 15px;
            right: 15px;
            left: unset;
            top: unset;
            height: 20px;
            width: 36px;
            z-index: 9;
            color: #FA9D3B;
            font-size: 16px;
        }
    }
    .images-container {
        position: relative;
         > span {
            color: #FA9D3B;
            position: absolute;
            bottom: 15px;
            right: 50%;
            margin-right: -110px;
            font-size: 16px;
        }
    }

    .for-station {
        text-align: right;
        position: relative;
        top: 0;
        color: #999999!important;
        background: url('/assets/images/icon/location.png') left center no-repeat;
        background-size: contain;
        padding-left: 20px;
    }

    .weui-cells_checkbox {
        .weui-cell__bd {
            span {
                display: inline-block;
                width:30%;
                padding-left: 10px;
            }
        }
        .weui-cell__hd {
            .weui-icon-checked {
                position: relative;
                top: -2px;
                &:before {
                    color:#9B9B9B;
                }
            }
        }
    }
}
