<div class="map-container">
    <aqm-map #map [options]="options" (ready)="onReady($event)" style="height: 100%;"></aqm-map>

    <weui-searchbar (search)="onSearch($event)" (cancel)="onCancel()" (clear)="onClear()" (submit)="onSubmit($event)"></weui-searchbar>

    <div class="weui-panel" *ngIf="value">
        <div class="weui-panel__bd">
            <div *ngIf="!loading">
                <div class="weui-cell weui-cell_access" *ngFor="let item of searchMarkers">
                    <div class="weui-cell__bd weui-cell_primary" (click)="onclickItem(item);">
                        <p>{{item.site_name}}</p>
                    </div>
                </div>
            </div>
            <div class="weui-media-box weui-media-box_text" *ngIf="searchMarkers?.length === 0 && !loading">暂无数据</div>
            <div class="weui-panel__bd" *ngIf="loading">
                <div class="weui-media-box weui-media-box_text">正在查询...</div>
            </div>
        </div>
        <!--<ng-template #loading>
            <div class="weui-panel__bd">
                <div class="weui-media-box weui-media-box_text">正在查询...</div>
            </div>
        </ng-template>-->
        <!--<a class="weui-panel__ft" href="javascript:void(0);">
            <div class="weui-cell weui-cell_access weui-cell_link">
                <div class="weui-cell__bd">More</div>
                <div class="weui-cell__ft"></div>
            </div>
        </a>-->
    </div>

    <div class="information-bar" *ngIf="!currentMarker && markers.length>0">
        <img src="/assets/images/icon/triangle.png" /> <span>方圆20公里共找到{{serviceNumber?(serviceNumber+'个服务站，'):''}}{{reviewNumber?(reviewNumber+'个检测站'):''}}</span>
    </div>
    <div class="information-bar no-data" *ngIf="markers.length===0">
        <img src="/assets/images/icon/triangle.png" /> <span>暂无数据</span>
    </div>

    <div class="info-window weui-cell-special" *ngIf="currentMarker" [ngClass]="{'review':currentMarker.type==='review'}">
        <div class="weui-cells">
            <div class="weui-cell special-cell">
                <div class="weui-cell__bd">
                    <p>
                        <span class="text-primary">{{currentMarker.site_name}}</span>
                        <weui-rating class="weui-rating" [(ngModel)]="rate" [config]="customIconsAndClassCog" [readonly]="readonly" *ngIf="currentMarker.type==='service'"></weui-rating>
                    </p>
                </div>
                <div class="weui-cell__ft"><span class="text-warning"><!--0.2<em>公里</em>-->{{distance_format}}</span></div>
            </div>
            <div class="weui-cell" *ngIf="currentMarker.service">
                <div class="weui-cell__bd">
                    <p>{{currentMarker.service_description}}</p>
                </div>
                <div class="weui-cell__ft"></div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>{{currentMarker.site_address}}</p>
                </div>
                <div class="weui-cell__ft">
                    <a href="https://map.qq.com/m/mqq/nav/epointx={{currentMarker.latitude_num}}&epointy={{currentMarker.longitude_num}}&eword={{currentMarker.site_name}}?ref=locationCluster_tengxun"><img src="/assets/images/icon/nav.png" /></a>
                </div>
            </div>
            <div class="weui-cell" *ngIf="currentMarker.mobile || currentMarker.telephone">
                <div class="weui-cell__bd">
                    <p>{{currentMarker.telephone}}{{currentMarker.telephone?'、':''}}{{currentMarker.mobile}}</p>
                </div>
                <div class="weui-cell__ft" *ngIf="currentMarker.mobile&&currentMarker.telephone"><a (click)="showPhoneList()"><img src="/assets/images/icon/phone.png" /></a></div>
                <div class="weui-cell__ft" *ngIf="(!currentMarker.mobile&&currentMarker.telephone) || (currentMarker.mobile&&!currentMarker.telephone)"><a href="{{'tel:' + (currentMarker.mobile || currentMarker.telephone)}}"><img src="/assets/images/icon/phone.png" /></a></div>
            </div>
        </div>
    </div>


    <div class="show-phone-list" [hidden]="!isShowPhoneList">
        <div class="weui-mask"></div>
        <div class="weui-dialog">
            <div class="weui-dialog__bd">
                <div class="weui-cells">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <p><a href="{{'tel:' + currentMarker?.telephone}}">{{currentMarker?.telephone}}</a></p>
                        </div>
                    </div>
                </div>
                <div class="weui-cells no-border">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <p><a href="{{'tel:' + currentMarker?.mobile}}">{{currentMarker?.mobile}}</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="weui-dialog__ft">
                <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary" (click)="hiddenPhoneList()">取消</a>
            </div>
        </div>
    </div>

    <!--<iframe #geoPage id="geoPage" width=0 height=0 frameborder=0 allow="geolocation" style="display:none;" scrolling="no"
            src="https://apis.map.qq.com/tools/geolocation?key=OB4BZ-D4W3U-B7VVO-4PJWW-6TKDJ-WPB77&referer=myapp">
    </iframe>-->
</div>




