<div class="map-container">

    <div id="gaoDeMap" style="height: 100%;width:100%;"></div>

    <weui-searchbar (click)="onClick()" (search)="onSearch($event)" (cancel)="onCancel()" (clear)="onClear()" (submit)="onSubmit($event)"></weui-searchbar>

    <div class="weui-panel" *ngIf="value">
        <div class="weui-panel__bd">
            <div *ngIf="!loading">
                <div class="weui-cell weui-cell_access" *ngFor="let item of searchMarkers">
                    <div class="weui-cell__bd weui-cell_primary" (click)="onclickItem(item);">
                        <p>{{item.site_name}}</p>
                    </div>
                </div>
            </div>
            <div class="weui-media-box weui-media-box_text" *ngIf="searchMarkers?.length === 0 && !loading">暂无数据</div>
            <div class="weui-panel__bd" *ngIf="loading">
                <div class="weui-media-box weui-media-box_text">正在查询...</div>
            </div>
        </div>
        <!--<ng-template #loading>
            <div class="weui-panel__bd">
                <div class="weui-media-box weui-media-box_text">正在查询...</div>
            </div>
        </ng-template>-->
        <!--<a class="weui-panel__ft" href="javascript:void(0);">
            <div class="weui-cell weui-cell_access weui-cell_link">
                <div class="weui-cell__bd">More</div>
                <div class="weui-cell__ft"></div>
            </div>
        </a>-->
    </div>

    <div class="information-bar" *ngIf="!currentMarker && markers.length>0">
        <img src="/assets/images/icon/triangle.png" /> <span>{{mapNotify()}}</span>
    </div>
    <div class="information-bar no-data" *ngIf="isLoaded && markers.length===0">
        <img src="/assets/images/icon/triangle.png" /> <span>暂无数据</span>
    </div>

    <a class="weui-btn weui-btn_mini weui-btn_default weui-btn_mini_warn refresh-site" href="javascript:;" (click)="refreshSite()">刷新</a>

    <div class="info-window weui-cell-special" *ngIf="currentMarkerExtra" [ngClass]="{'review':currentMarkerExtra.type==='review'}">
        <div class="weui-cells">
            <div class="weui-cell special-cell">
                <div class="weui-cell__bd">
                    <p>
                        <span class="text-primary company-name">{{currentMarkerExtra.site_name}}</span>
                        <weui-rating class="weui-rating" [(ngModel)]="rate" [config]="customIconsAndClassCog" [readonly]="readonly" *ngIf="currentMarkerExtra.type==='service'"></weui-rating>
                    </p>
                </div>
                <div class="weui-cell__ft"><span class="text-warning"><!--0.2<em>公里</em>-->{{currentMarkerExtra.distance | distance:true}}<em>公里</em></span></div>
            </div>
            <div class="weui-cell text-special-cell" *ngIf="currentMarkerExtra.type==='service'">
                <div class="weui-cell__bd">
                    <p>主营服务：{{currentMarkerExtra.service_description}}</p>
                </div>
                <div class="weui-cell__ft"></div>
            </div>
            <div class="weui-cell text-special-cell with-two-col">
                <div class="weui-cell__bd">
                    <p>具体地址：{{currentMarkerExtra.site_address}}</p>
                </div>
                <div class="weui-cell__ft">
                    <!--"https://m.amap.com/navigation/carmap/saddr=108.889862,34.250809,昆明路(公交站)&daddr=108.939621,34.343147,西安市人民政府&saddr_lonlat=108.889862,34.250809,昆明路(公交站)&daddr_lonlat=&saddr_typecode=150700&daddr_typecode=&saddr_poiid=BV10069575&daddr_poiid=&maddr=&sort=&addPassing=remove"-->
                    <a href="https://m.amap.com/navigation/carmap/saddr={{longitude}},{{latitude}},%E8%B5%B7%E7%82%B9&daddr={{currentMarkerExtra.longitude_num}},{{currentMarkerExtra.latitude_num}},%E7%BB%88%E7%82%B9&sort=dist"><img src="/assets/images/icon/nav.png" /></a>
                    <!--<a href="https://map.qq.com/m/mqq/nav/epointx={{currentMarkerExtra.latitude_num}}&epointy={{currentMarkerExtra.longitude_num}}&eword={{currentMarkerExtra.site_name}}?ref=locationCluster_tengxun"><img src="/assets/images/icon/nav.png" /></a>-->
                </div>
            </div>
            <div class="weui-cell" *ngIf="currentMarkerExtra.mobile || currentMarkerExtra.telephone">
                <div class="weui-cell__bd">
                    <p>联系电话：{{currentMarkerExtra.telephone}}{{(currentMarkerExtra.telephone && currentMarkerExtra.mobile) ? '、' : ''}}{{currentMarkerExtra.mobile}}</p>
                </div>
                <div class="weui-cell__ft" *ngIf="currentMarkerExtra.mobile&&currentMarkerExtra.telephone"><a (click)="showPhoneList()"><img src="/assets/images/icon/phone.png" /></a></div>
                <div class="weui-cell__ft" *ngIf="(!currentMarkerExtra.mobile&&currentMarkerExtra.telephone) || (currentMarkerExtra.mobile&&!currentMarkerExtra.telephone)"><a href="{{'tel:' + (currentMarkerExtra.mobile || currentMarkerExtra.telephone)}}"><img src="/assets/images/icon/phone.png" /></a></div>
            </div>
        </div>
    </div>


    <div class="show-phone-list" [hidden]="!isShowPhoneList">
        <div class="weui-mask"></div>
        <div class="weui-dialog">
            <div class="weui-dialog__bd">
                <div class="weui-cells">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <p><a href="{{'tel:' + currentMarkerExtra?.telephone}}">{{currentMarkerExtra?.telephone}}</a></p>
                        </div>
                    </div>
                </div>
                <div class="weui-cells no-border">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <p><a href="{{'tel:' + currentMarkerExtra?.mobile}}">{{currentMarkerExtra?.mobile}}</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="weui-dialog__ft">
                <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary" (click)="hiddenPhoneList()">取消</a>
            </div>
        </div>
    </div>

    <!--<iframe #geoPage id="geoPage" width=0 height=0 frameborder=0 allow="geolocation" style="display:none;" scrolling="no"
            src="https://apis.map.qq.com/tools/geolocation?key=OB4BZ-D4W3U-B7VVO-4PJWW-6TKDJ-WPB77&referer=myapp">
    </iframe>-->
</div>




