.text-primary {
    color:#1970A6;
}

.text-secondary {

}

.text-success {

}

.text-danger {
    color:#E64340;
}

.text-warning {
    color:#FA9D3B;
}

.text-info {
    color:#9B9B9B;
}

.text-light {

}

.text-dark {

}

.text-muted {

}

.text-white {
    color:#FFF;
}
