.orders {
    .scroll-page {
        background: #EFEFF4;
    }
    .tabset {
        ul.nav-tabs {
            overflow: hidden;
            li {
                float: left;
                font-size: 14px;
                width: 20%;
                height: 47px;
                line-height: 47px;
                margin: 0 auto;
                background: #FAFAFA;
                padding: 0 8px;
                position: relative;
                a {
                    display: block;
                    width:100%;
                    margin:0;
                    text-align: center;
                    height:47px;
                    border-bottom:3px solid #FAFAFA;
                }

                .weui-badge {
                    top: -10px;
                    right: -15px;
                }
                &.active {
                    a {
                        border-bottom:3px solid #1970A6;
                        color:#1970A6;
                    }

                }
            }
        }
        .tab-content {
            .weui-cells__title {
                height:auto;
                background: #FFF;
            }
        }
    }
    .is-seller {
        .tabset {
            ul {
                li {
                    width:25%;
                }
            }
        }
    }
    .weui-cells {
        width:100%;
        margin:15px 0 10px 0;
        display: block;
    }

    .weui-cell {
        padding:0 20px;
        font-size:14px;
        color:#888888;
        height: 30px;
        line-height: 30px;
        width: 100%;
        &.with-padding-top {
            padding-top: 5px;
        }
        &.with-padding-bottom {
            margin-bottom: 5px;
        }
        &.with-padding-top.with-padding-bottom {
            height: 40px;
            line-height: 40px;
        }
    }
    .special-cell {
        height:48px;
        line-height:48px;
        color:#000000;
        font-size:15px;
        margin-bottom:0;
        overflow: hidden;
        .weui-cell__bd {
            float: left;
            width: 50%;
        }
        .weui-cell__ft {
            float: right;
            width: 50%;
        }
    }
    .weui-cell__bd {
        .eq-width {
            display: inline-block;
        }
        .mini-width {
            width:75px;
        }
        .small-width {
            width:100px;
        }
        .normal-width {
            width:135px;
        }
        p {
            position: relative;
            top: 1px
        }
    }

    .cell-operation {
        height:39px;
        line-height:39px;
        font-size:14px;
        margin-bottom:0;
        overflow: hidden;
        color:#000;
        .weui-cell__bd {
            float: left;
            width: 50%;
        }
        .weui-cell__ft {
            float: right;
            width: 50%;
        }
        strong {
            color:#FA9D3B;
            font-weight:normal;
            margin-left:0;
        }
    }
    .button-sp-area {
        text-align: right;
        height: 56px;
    }
    .text-center {
        text-align: center;
    }
    .weui-btn + .weui-btn {
        margin-top: 13px;
    }
}


.empty-container {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
}

.empty {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -65px 0 0 -60px;
    width: 120px;
    height: 130px;
    font-size: 14px;
    p {
        text-align: center;
        color:#333333;
        margin-top:10px;
    }
    img {
        width:100px;
        height:100px;
        display: block;
        margin: 0 auto;
    }
}

@media (max-width:320px)  {
    /*(max-width:320)*/
    .orders {
        .weui-cell__bd {
            .eq-width {
                display: inline-block;
                font-size:12px;
            }
            .mini-width {
                width:60px;
            }
            .small-width {
                width:90px;
            }
            .normal-width {
                width:120px;
            }
            p {
                position: relative;
                top: 1px
            }
        }
    }
}
