<div class="page order-detail">
    <div class="scroll-page">
        <!--<span (click)="changeMode('license');">驾照</span> | <span (click)="changeMode('car');">车辆</span> | <span (click)="changeMode('cert');">营运</span>-->
        <div class="order-bar">
            <span class="left">订单号：{{detail?.car_product_order_no}}</span>
            <span class="right">下单时间：{{detail?.car_product_order_create_date}}</span>
        </div>
        <div class="status-bar">
            <p>订单状态：{{detail?.car_product_order_status_info.car_product_order_status_name}}</p>
            <!--<p class="text-primary" [hidden]="!detail?.service_order_comment">原因：{{detail?.service_order_comment}}</p>-->
        </div>

        <div class="confirm-order">
            <div class="weui-cells ">
                <div class="car-info">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <p class="title">车辆信息</p>
                        </div>
                        <div class="weui-cell__ft"></div>
                    </div>
                    <div class="weui-cell no-border weui-cell-small">
                        <div class="weui-cell__bd">
                            <p>车辆信息</p>
                        </div>
                        <div class="weui-cell__ft">{{detail?.car_product_info?.product_name}}</div>
                    </div>
                    <div class="weui-cell no-border weui-cell-small" *ngIf="detail?.car_product_info?.price_description">
                        <div class="weui-cell__bd">
                            <p>价格</p>
                        </div>
                        <div class="weui-cell__ft">{{detail?.car_product_info?.price_description}}</div>
                    </div>
                    <div class="weui-cell no-border weui-cell-small">
                        <div class="weui-cell__bd">
                            <p>上牌地区</p>
                        </div>
                        <div class="weui-cell__ft">{{detail?.cards_region_info?.region_name}}</div>
                    </div>
                </div>

                <div class="customer-info" *ngIf="detail?.buyer_member_info">
                    <div class="weui-cell special-cell">
                        <div class="weui-cell__bd">
                            <p class="title">客户信息</p>
                        </div>
                        <div class="weui-cell__ft"><span></span></div>
                    </div>
                    <div class="weui-cell no-border weui-cell-small">
                        <div class="weui-cell__bd">
                            <p>姓名</p>
                        </div>
                        <div class="weui-cell__ft">{{detail?.buyer_member_info?.member_name}}</div>
                    </div>
                    <div class="weui-cell no-border weui-cell-small">
                        <div class="weui-cell__bd">
                            <p>手机号码</p>
                        </div>
                        <div class="weui-cell__ft">{{detail?.buyer_member_info?.mobile}}</div>
                    </div>
                </div>

                <div class="my-seller" *ngIf="detail?.sales_member_info">
                    <div class="weui-cell special-cell">
                        <div class="weui-cell__bd">
                            <p class="title">我的销售员</p>
                        </div>
                        <div class="weui-cell__ft"><span></span></div>
                    </div>
                    <div class="weui-cell no-border weui-cell-small">
                        <div class="weui-cell__bd">
                            <p>姓名</p>
                        </div>
                        <div class="weui-cell__ft">{{detail?.sales_member_info?.member_name}}</div>
                    </div>
                    <div class="weui-cell no-border weui-cell-small">
                        <div class="weui-cell__bd">
                            <p>手机号码</p>
                        </div>
                        <div class="weui-cell__ft">{{detail?.sales_member_info?.mobile}}</div>
                    </div>
                </div>

                <!--<div class="service-info" *ngIf="detail?.institution_dealer_info">
                    <div class="weui-cell special-cell">
                        <div class="weui-cell__bd">
                            <p class="title">服务商信息</p>
                        </div>
                        <div class="weui-cell__ft"></div>
                    </div>
                    <div class="weui-cell no-border weui-cell-small">
                        <div class="weui-cell__bd">
                            <p>公司名称</p>
                        </div>
                        <div class="weui-cell__ft">{{detail?.institution_dealer_info?.institution_dealer_name}}</div>
                    </div>
                    <div class="weui-cell no-border weui-cell-small">
                        <div class="weui-cell__bd">
                            <p>销售经理</p>
                        </div>
                        <div class="weui-cell__ft">{{detail?.institution_dealer_member_info?.member_name}}</div>
                    </div>
                    <div class="weui-cell no-border weui-cell-small">
                        <div class="weui-cell__bd">
                            <p>手机号码</p>
                        </div>
                        <div class="weui-cell__ft">{{detail?.institution_dealer_member_info?.mobile}}</div>
                    </div>
                </div>-->

                <div class=" order-info" *ngIf="detail?.outer_dms_no">
                    <div class="weui-cell special-cell">
                        <div class="weui-cell__bd">
                            <p class="title">订单编码信息</p>
                        </div>
                        <div class="weui-cell__ft"><span></span></div>
                    </div>
                    <div class="weui-cell no-border weui-cell-small">
                        <div class="weui-cell__bd">
                            <p>订单编码信息</p>
                        </div>
                        <div class="weui-cell__ft">{{detail?.outer_dms_no}}</div>
                    </div>
                </div>

                <div class=" order-info" *ngIf="detail?.car_product_order_tips">
                    <div class="weui-cell special-cell">
                        <div class="weui-cell__bd">
                            <p class="title">订单提示信息</p>
                        </div>
                        <div class="weui-cell__ft"><span></span></div>
                    </div>
                    <div class="weui-cell no-border weui-cell-small">
                        <div class="weui-cell__bd">
                            <p>信息内容</p>
                        </div>
                        <div class="weui-cell__ft">{{detail?.car_product_order_tips}}</div>
                    </div>
                </div>

                <form [formGroup]="orderForm" (ngSubmit)="submitOrder()" [ngClass]="{'ng-from-error':fromError}">
                    <!--编辑服务商信息-->
                    <div class="order-info" *ngIf="canSubmitOrder('3') || canCloseOrder()">
                        <div class="weui-cell special-cell with-select" *ngIf="canSubmitOrder('3')">
                            <div class="weui-cell__bd">
                                <p class="title">服务商信息</p>
                            </div>
                            <div class="weui-cell__ft"><span></span></div>
                        </div>
                        <!--<div class="weui-cell weui-cell_access">
                            <div class="weui-cell__hd">
                                <p>服务商</p>
                            </div>
                            <div class="weui-cell__bd" [hidden]="!(selectedDealer.dealer_id)" (click)="selectDealer()">
                                <p>请选择服务商</p>
                            </div>
                            <div class="weui-cell__bd">
                                <p>请选择服务商</p>
                            </div>
                            <div class="weui-cell__ft"></div>
                        </div>-->
                        <div class="weui-cell weui-cell_access my-location" *ngIf="canSubmitOrder('3')">
                            <div class="weui-cell__hd"><label class="weui-label">服务商</label></div>
                            <div class="weui-cell__bd text-right" [hidden]="!selectedDealer?.institution_dealer_id" (click)="showDealer()"><span>{{selectedDealer?.institution_dealer_name}}</span></div>
                            <div class="weui-cell__bd dealer-select" [ngClass]="{'error':errorMessage}" [hidden]="selectedDealer?.institution_dealer_id" (click)="showDealer()">请选择服务商</div>
                            <div class="weui-cell__ft"></div>
                        </div>
                        <div class="weui-cell cell-operation">
                            <div class="weui-cell__bd button-sp-area" [ngClass]="{'with-border':canCloseOrder() && !canSubmitOrder('3')}">
                                <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default weui-btn_mini_placeholder">占位</a>
                                <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default weui-btn_mini_primary" *ngIf="canSubmitOrder('3')" (click)="submitOrder()">确认提交</a>
                                <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default weui-btn_mini_default" *ngIf="canCloseOrder()" (click)="cancelOrder()">关闭订单</a>
                            </div>
                        </div>
                    </div>

                    <!--编辑订单编码信息-->
                    <div class="order-info" *ngIf="canSubmitOrder('4')">
                        <div class="weui-cell special-cell with-select">
                            <div class="weui-cell__bd">
                                <p class="title">订单编码信息</p>
                            </div>
                            <div class="weui-cell__ft"><span></span></div>
                        </div>
                        <div class="weui-cell my-location">
                            <div class="weui-cell__hd"><label class="weui-label">订单编号</label></div>
                            <div class="weui-cell__bd" [ngClass]="{'error':errorMessage}">
                                <input class="weui-input" type="text" pattern="[0-9]*" [formControl]="outerDmsNo" (focus)="dmsFocused()" placeholder="请输入订单编码信息">
                            </div>
                            <div class="weui-cell__ft"></div>
                        </div>
                        <div class="weui-cell cell-operation">
                            <div class="weui-cell__bd button-sp-area">
                                <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default weui-btn_mini_placeholder">占位</a>
                                <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default weui-btn_mini_primary" (click)="submitOrder()">确认提交</a>
                            </div>
                        </div>

                    </div>
                </form>

                <weui-popup #fullDealer [config]="{is_full: true}">
                    <div class="list-item" *ngFor="let dealerList of institutionDealer" [hidden]="institutionDealer.length===0">
                        <div class="weui-cells__title">{{dealerList.region_info?.region_name}}</div>
                        <div class="weui-cells all-location">
                            <a *ngFor="let dealer of dealerList.institution_dealer_list" class="weui-cell" href="javascript:;" (click)="selectDealer(dealer)">
                                <div class="weui-cell__bd"><span>{{dealer.institution_dealer_name}}</span></div>
                                <div class="weui-cell__ft"><span [hidden]="selectedDealer.institution_dealer_id !== dealer.institution_dealer_id"><i class="weui-icon-success-no-circle"></i></span></div>
                            </a>
                        </div>
                    </div>
                    <div [hidden]="isInstitutionDealerLoad && institutionDealer.length>0" style="text-align: center;padding-top:50px;">
                        <p>暂无服务商可选</p>
                        <p style="padding-top:50px;" class="text-warning"><span (click)="fullDealerPopup.close();">点击关闭</span></p>
                    </div>
                </weui-popup>

                <div class="weui-cell special-cell" *ngIf="detail?.car_product_order_finish_date">
                    <div class="weui-cell__bd">
                        <p>{{'完成时间'}}</p>
                    </div>
                    <div class="weui-cell__ft">{{detail?.car_product_order_finish_date}}</div>
                </div>

                <div class="weui-cell special-cell" *ngIf="detail?.car_product_order_cancel_date">
                    <div class="weui-cell__bd">
                        <p>{{'取消时间'}}</p>
                    </div>
                    <div class="weui-cell__ft">{{detail?.car_product_order_cancel_date}}</div>
                </div>

                <!--<div class="my-seller">
                    <div class="weui-cell special-cell">
                        <div class="weui-cell__bd">
                            <p>客户信息</p>
                        </div>
                        <div class="weui-cell__ft"><span></span></div>
                    </div>
                    <div class="weui-cell weui-cell-small">
                        <div class="weui-cell__bd">
                            <p>姓名</p>
                        </div>
                        <div class="weui-cell__ft">张三</div>
                    </div>
                    <div class="weui-cell no-border weui-cell-small">
                        <div class="weui-cell__bd">
                            <p>电话</p>
                        </div>
                        <div class="weui-cell__ft">18627364837</div>
                    </div>
                </div>-->

            </div>
        </div>

    </div>

    <div class="error-bar" [hidden]="!errorMessage">
        <p>{{errorMessage}}</p>
    </div>

</div>
