.notify-page {
    position: relative;
    height: 100%;
    padding-bottom: 62px;
    .between-space {
        height: 16px;
        line-height: 16px;
        font-size: 13px;
        color: #1970A6;
        text-align: center;
    }
    .left {
        float: left;
    }
    .right {
        float: right;
    }
}

.weui-flex {
    line-height: 46px; // margin-bottom: 14px;
    height: 46px;
    background-color: #FAFAFA;
    .weui-badge {
        position: absolute;
        quotes: none;
        top: 8px;
        right: 26px;
        height: 16px;
        width: 16px;
        margin-left: 8px;
        vertical-align: baseline;
        line-height: 16px;
    }
    @media screen and (max-width: 350px) {
        .weui-badge {
            right: 12px;
        }
    }
    .weui-flex__item {
        text-align: center;
        font-size: 14px;
        color: #2A2A2A;
        box-sizing: border-box;
        padding: 0 20px;
        .placeholder {
            position: relative;
            height: 46px;
        }
    }
    .active {
        border-bottom: 3px solid #1970A6;
        color: #1970A6;
    }
}

.weui-infiniteloader {
    height: 100% !important;
}

.notify {
    // background: #FFF;
    width: 100%;
    position: relative;
    height: 100%;
    padding-bottom: 50px;
    .scroll-page {
        background: #EFEFF4;
        .content-list {
            height: 100%
        }
    }
    .weui-panel {
        background-color: #fff;

        .weui-icon-circle, .weui-icon-success {
            position: absolute;
            left: 3px;
            top: 50%;
            transform: translateY(-50%);
            display: none;
        }
        .weui-badge {
            width: 10px;
            height: 10px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            margin-left: 8px;
        }
        border: none;
        &::after {
            border: none;
        }
        &::before {
            border: none;
        }
    }
    .weui-badge {
        height: 16px;
        width: 16px;
        display: inline-block;
        // margin-left: 8px;
        vertical-align: baseline;
        line-height: 16px;
        &[hidden] {
            display: none;
        }
    }
    .weui-media-box {
        padding: 0 15px 0 0;
        border-bottom: 1px #E5E5E5 solid;
        margin: 0 0 0 28px;
    }
    .weui-media-box__title {
        color: #888888;
        font-size: 14px;
        line-height: 28px;
        padding: 9px 0 4px 0;
        margin-bottom: 0;
        .h4 {
            font-size: 18px;
            color: #000000;
            width: 58%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .small {
            max-width: 40%;
            overflow: hidden;
        }
    }
    .weui-media-box__desc {
        font-size: 13px;
        color: #9B9B9B;
        line-height: 20px;
        padding-bottom: 10px;
        display: block;
        -webkit-box-orient: unset;
        white-space: nowrap;
    }
}

.empty-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.empty {
    position: absolute;
    top: 40%;
    left: 50%;
    margin: -65px 0 0 -60px;
    width: 120px;
    height: 130px;
    font-size: 14px;
    p {
        text-align: center;
        color: #333333;
        margin-top: 10px;
    }
    img {
        width: 100px;
        height: 100px;
        display: block;
        margin: 0 auto;
    }
}
.edit-page {
 .notify {
     .weui-panel {
        padding-left: 30px;
        .weui-icon-circle {
            display: inline-block;
        }
        .weui-icon-success {
         display: inline-block;
         color:#1970A6;
        }
        .weui-panel__bd {
            .left {
                width: 52%;
            }
            .right {
                max-width: 50%;
            }
        }

     }
 }
 .weui-flex {
     justify-content: space-between;
     .active {
         border: none;
     }
     .weui-flex__item {
         flex: none;
         .garry {
            color:#9B9B9B;
         }
         .red {
             color: #F43530;
         }
     }
 }
 .btn-bottom {
     position: absolute;
     bottom: 0;
     left: 0;
     right: 0;
     height: 50px;
     line-height: 50px;
 }
 .warning-box {
    .weui-dialog__bd {
        // text-align: left;
        font-size:18px;
        line-height:1.4;
    }
}
}