<div class="notify-page" [class.edit-page]="editStatus">
    <!-- 浏览状态-->
    <div class="weui-flex" *ngIf="!editStatus">
        <div class="weui-flex__item" (click)="selectedTab('0')">
            <div class="placeholder" [class.active]="currentTabId == '0'">个人消息<q class="weui-badge" *ngIf="dashboardInfo?.new_member_message_count >0">{{dashboardInfo?.new_member_message_count}}</q></div>
        </div>
        <div class="weui-flex__item" (click)="selectedTab('1')">
            <div class="placeholder" [class.active]="currentTabId == '1'">系统消息<q class="weui-badge" *ngIf="dashboardInfo?.new_member_system_count >0">{{dashboardInfo?.new_member_system_count}}</q></div>
        </div>
    </div>
    <!-- 编辑状态-->
    <div class="weui-flex" *ngIf="editStatus">
        <div class="weui-flex__item">
            <div class="placeholder active" (click)="clickAll()">{{leftTopBtn.text}}</div>
        </div>
        <div class="weui-flex__item">
            <div class="placeholder active" (click)="clickFinish()">完成</div>
        </div>
    </div>

    <div class="between-space"></div>
    <!-- 滚动部分内容 -->
    <div class="notify">
        <div class="scroll-page">
            <div *ngIf="messageList.length" class='content-list'>
                <weui-infiniteloader (loadmore)="onLoadMore($event)" #comp [config]="config">
                    <!-- <weui-ptr (refresh)="onRefresh($event)"> -->

                    <div *ngFor="let item of messageList; let index = index">
                        <div class="weui-panel" (click)="chooseAnypanel(item)">
                            <!-- <div class="weui-panel" [routerLink]="['/notifyDetail', item.member_message_id, 'personal']"> -->
                            <i class="weui-icon-circle" [hidden]="item.chosen"></i>
                            <i class="weui-icon-success" *ngIf="item.chosen"></i>
                            <div class="weui-panel__bd">
                                <i class="weui-badge" [hidden]="item.is_read === '1'"></i>
                                <div class="weui-media-box weui-media-box_text">
                                    <h4 class="weui-media-box__title">
                                        <span class="left h4">{{item.member_message_title || item.system_message_title}}
                                        </span>
                                        <span class="right small">{{item.member_message_date_format || item.system_message_date_format}}
                                        </span>
                                    </h4>
                                    <p class="weui-media-box__desc">{{item.member_message_content || item.system_message_content}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- </weui-ptr> -->
                </weui-infiniteloader>
            </div>

            <!-- <div class="empty-container" *ngIf="personal.isLoaded && personal.lists.length===0"> -->
            <div class="empty-container" *ngIf="isloaded && messageList.length == 0">
                <div class="empty">
                    <img src="/assets/images/empty.png" />
                    <p>没有消息通知</p>
                </div>
            </div>

            <!-- 浏览状态 编辑按钮出现 -->
            <a class="order-now weui-btn weui-btn_primary full-width-btn with-no-radius" [hidden]="editStatus || !messageList.length" href="javascript:;" (click)="clickEditBtn()" >编辑</a>

            <!-- 编辑状态 操作按钮出现 -->
            <div class="btn-bottom">
                <div class="weui-flex" *ngIf="editStatus">
                    <div class="weui-flex__item">
                        <div class="placeholder garry"  [class.active]="allReadedColor"
                            (click)="clickReadedBtn()">全部已读</div>
                    </div>
                    <div class="weui-flex__item">
                        <div class="placeholder garry" [class.red]="haschosen" (click)="clickDeleteBtn()">删除</div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div [hidden]="hiddenReadedNotice" class="warning-box">
        <div class="weui-mask weui-animate-fade-in"></div>
        <div class="weui-dialog" style="opacity: 1;visibility: visible;">
            <!-- <div class="weui-dialog__hd"><strong class="weui-dialog__title">抱歉</strong></div> -->
            <div class="weui-dialog__bd">确认全部标记为已读？</div>
            <div class="weui-dialog__ft">
                <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default" (click)="cancleNotice()">取消</a>
                <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary" (click)="sureNotice('11')">确认</a>
            </div>
        </div>
    </div>

    <div [hidden]="hiddenDeleteNotice" class="warning-box">
        <div class="weui-mask weui-animate-fade-in"></div>
        <div class="weui-dialog" style="opacity: 1;visibility: visible;">
            <!-- <div class="weui-dialog__hd"><strong class="weui-dialog__title">抱歉</strong></div> -->
            <div class="weui-dialog__bd">确认删除所选消息？</div>
            <div class="weui-dialog__ft">
                <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default" (click)="cancleNotice()">取消</a>
                <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary" (click)="sureNotice('22')">确认</a>
            </div>
        </div>
    </div>

</div>