<div class="weui-cell-special car-list">
    <div class="car-content" *ngFor=" let item of carList;let index = index;">
        <div class="weui-cells__title">车辆{{carListIndex[index]}}</div>
        <div class="weui-cells">
            <div class="weui-cell special-cell">
                <div class="weui-cell__bd">
                    <p>车牌号</p>
                </div>
                <div class="weui-cell__ft"><span>{{item.province_code_info.province_code_name}}{{item.plate_no}}</span></div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>所属公司</p>
                </div>
                <div class="weui-cell__ft">{{item.company_info.company_name}}</div>
            </div>
            <div class="weui-cell no-border">
                <div class="weui-cell__bd">
                    <p>车辆性质</p>
                </div>
                <div class="weui-cell__ft">{{item.car_property_info.car_property_name}}</div>
            </div>
            <div class="weui-cell no-border">
                <div class="weui-cell__bd">
                    <p>车辆类型</p>
                </div>
                <div class="weui-cell__ft">{{item.car_type_info.car_type_name}}</div>
            </div>
            <div class="weui-cell no-border">
                <div class="weui-cell__bd">
                    <p>车架号码</p>
                </div>
                <div class="weui-cell__ft">{{item.vin_no}}</div>
            </div>
            <div class="weui-cell no-border">
                <div class="weui-cell__bd">
                    <p>发动机号</p>
                </div>
                <div class="weui-cell__ft">{{item.engine_no}}</div>
            </div>
            <div class="weui-cell cell-operation">
                <div class="weui-cell__bd">
                    <a *ngIf="item.is_modify" (click)="modify(item)">修改</a>
                </div>
                <div class="weui-cell__bd">
                    <a *ngIf="item.is_delete" (click)="delete(item)">删除</a>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="weui-cells__title">车辆二</div>
    <div class="weui-cells">
        <div class="weui-cell special-cell">
            <div class="weui-cell__bd">
                <p>车牌号</p>
            </div>
            <div class="weui-cell__ft"><span>陕A·652D2</span></div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>所属公司</p>
            </div>
            <div class="weui-cell__ft">西安德运汽车运输有限公司</div>
        </div>
        <div class="weui-cell no-border">
            <div class="weui-cell__bd">
                <p>车辆性质</p>
            </div>
            <div class="weui-cell__ft">公户</div>
        </div>
        <div class="weui-cell no-border">
            <div class="weui-cell__bd">
                <p>车辆类型</p>
            </div>
            <div class="weui-cell__ft">大型汽车</div>
        </div>
        <div class="weui-cell no-border">
            <div class="weui-cell__bd">
                <p>车架号码</p>
            </div>
            <div class="weui-cell__ft">17454839jf6489396</div>
        </div>
        <div class="weui-cell no-border">
            <div class="weui-cell__bd">
                <p>发动机号</p>
            </div>
            <div class="weui-cell__ft">17454839jf6489396</div>
        </div>
        <div class="weui-cell cell-operation">
            <div class="weui-cell__bd">
                <a>修改</a>
            </div>
            <div class="weui-cell__bd">
                <a>删除</a>
            </div>
        </div>
    </div>-->

    <a href="javascript:;" class="weui-btn weui-btn_passive weui-btn_primary full-width-btn-with-padding">添加车辆</a>

</div>
