.weui-msg {
    padding-top: 100px;
    .weui-icon-success.weui-icon_msg {
        color: #1970A6;
    }
    .weui-msg__title {
        color:#000;
    }
    .weui-msg__desc {
        color:#4a4a4a;
    }
}
