.has-phone {
    .weui-cell {
        height: 46px;
        line-height: 46px;
    }
    .special-cell {
        height:60px;
        line-height:60px;
        span {
            color:#1970A6;
            font-size:24px;
        }
    }
}

.user-info {
    background: #EFEFF4;
    padding-bottom: 45px;
    .weui-vcode-btn {
        padding-right:0;
    }

    .ng-from-error {
        input.ng-invalid {
            color:#E64340;
        }
    }
    .weui-cells__title-empty {
        height:18px;
    }
    .weui-cell__ft {
        span:last-child {
            margin-left:5px;
        }
    }
    .weui-agree[hidden]{
        display: none;
    }
}

.modify-mobile {
    margin-top:75px;
}

.weui-vcode-btn[hidden] {
    display: none;
}
.weui-vcode-btn.disabled{
    color:#bcc2c5;
}

a.full-width-btn-with-padding.disabled {
    opacity:0.6;
}
